<a href="/rrms/"><%= image_tag 'back.png',:title => "Back",:class => "back" %></a>
<%= form_for @rrm, :html => { :class => 'user-form' } do |f| %>
   <h4 id="form-title"><%= form_title %></h4>
  
  <%= render :partial => "shared/error_messages", :locals => { :errors => @rrm.errors } %>
  
  <div class="form-field">
    <span class="mandetory">*</span>RRM Name
    <%= f.text_field :name ,:required => "required" %>
  </div>

  <div class="form-field">
   <span class="mandetory">*</span>RRM Designation
    <%= f.text_field :designation,:required => "required"  %>
  </div>

  <div class="form-field">
   <span class="mandetory">*</span>Location
    <%= f.text_field :location,:required => "required"  %>
  </div>

  <div class="form-field">
   <span class="mandetory">*</span>Contact Number
    <%= f.phone_field :phone,:required => "required"  %>
  </div>



  <div class="form-field">
   <span class="mandetory">*</span>Email
    <%= f.text_field :email ,:required => "required" %>
  </div>

  <div class="form-field">
   <span class="mandetory">*</span>Status
    <%= f.select :status, RRM_STATUS,{:prompt => "Select retailer status"},:class => 'retailer_select',:required => "required" %>
  </div>

  
   <%= f.submit :value => button%>
    
  
<% end %>