<div id ="date_field">
<label><b>From</b></label> 
<%= date_field_tag("date_from", "") %>
<label><b>To</b></label>
<%= date_field_tag("date_to", "") %>
<%= button_tag class: 'search_button' do %>
<i class="fa fa-search search-icon"></i>
<% end %>
</div> 
<center>
<div class="table-responsive custom-bg">
<table class="custom-table" cellspacing="0">

<tr>
<!-- <td align="center" height="40" valign="top"><div class="border-bottom">State</div>

<%=select_tag :valc_states,options_for_select([['All States',0]]+State.all.pluck(:name,:id),[0]),multiple: true,class: "form-control multi-select",:onchange => "state()"%>



</td> -->
<td><table width="100%" border="0" class="tbl-second-lvl" cellspacing="0" cellpadding="0">
	
  <tr>
    <td>States</td>
    <td colspan="2" align="center">SIS</td>
    <td colspan="2">GSB </td>
    <td colspan="2">IN SHOP</td>
    <td colspan="2">MAINTENANCE</td>
    </tr>

  <tr>
    <td></td>
    <td>Pending</td>
    <td>Assigned</td>
   <td>Pending</td>
    <td>Assigned</td>
    <td>Pending</td>
    <td>Assigned</td>
   <td>Pending</td>
    <td>Assigned</td>
  </tr>
  <tr>
    <td onclick="assignments(0)" class="cursor">All States</td>
    <td class="sis_pending" onclick="sisPending(0)"><%=RequestAssignment.valc_pending_requests_counts(params[:start_date],params[:end_date],1,[0])%></td>
    <td class="sis_assigned" onclick="sisAssigned(0)"><%=RequestAssignment.valc_assigned_requests_counts(params[:start_date],params[:end_date],1,[0])%></td>
    <td class="gsb_pending" onclick="gsbPending(0)"><%=RequestAssignment.valc_pending_requests_counts(params[:start_date],params[:end_date],0,[0])%></td>
    <td class="gsb_assigned" onclick="gsbAssigned(0)"><%=RequestAssignment.valc_assigned_requests_counts(params[:start_date],params[:end_date],0,[0])%></td>
    <td class="in_shop_pending" onclick="inShopPending(0)"><%=RequestAssignment.valc_pending_requests_counts(params[:start_date],params[:end_date],2,[0])%></td>
    <td class="in_shop_assigned" onclick="inShopAssigned(0)"><%=RequestAssignment.valc_assigned_requests_counts(params[:start_date],params[:end_date],2,[0])%></td>
    <td class="maintenance_pending" onclick="maintenancePending(0)"><%=RequestAssignment.valc_pending_requests_counts(params[:start_date],params[:end_date],3,[0])%></td>
    <td class="maintenance_assigned" onclick="maintenanceAssigned(0)"><%=RequestAssignment.valc_assigned_requests_counts(params[:start_date],params[:end_date],3,[0])%></td>
  </tr>
  <%State.all.each do |state|%>
    <tr>
     <td onclick="assignments('<%=state.id%>')" class="cursor"><%=state.name%></td>
    <td class="sis_pending<%=state.id%> cursor" onclick="sisPending('<%=state.id%>')"><%=RequestAssignment.valc_pending_requests_counts(params[:start_date],params[:end_date],1,[state.id])%></td>
    <td class="sis_assigned<%=state.id%> cursor" onclick="sisAssigned('<%=state.id%>')"><%=RequestAssignment.valc_assigned_requests_counts(params[:start_date],params[:end_date],1,[state.id])%></td>
    <td class="gsb_pending<%=state.id%> cursor" onclick="gsbPending('<%=state.id%>')"><%=RequestAssignment.valc_pending_requests_counts(params[:start_date],params[:end_date],0,[state.id])%></td>
    <td class="gsb_assigned<%=state.id%> cursor" onclick="gsbAssigned('<%=state.id%>')"><%=RequestAssignment.valc_assigned_requests_counts(params[:start_date],params[:end_date],0,[state.id])%></td>
    <td class="in_shop_pending<%=state.id%> cursor" onclick="inShopPending('<%=state.id%>')"><%=RequestAssignment.valc_pending_requests_counts(params[:start_date],params[:end_date],2,[state.id])%></td>
    <td class="in_shop_assigned<%=state.id%> cursor" onclick="inShopAssigned('<%=state.id%>')"><%=RequestAssignment.valc_assigned_requests_counts(params[:start_date],params[:end_date],2,[state.id])%></td>
    <td class="maintenance_pending<%=state.id%> cursor" onclick="maintenancePending('<%=state.id%>')"><%=RequestAssignment.valc_pending_requests_counts(params[:start_date],params[:end_date],3,[state.id])%></td>
    <td class="maintenance_assigned<%=state.id%> cursor" onclick="maintenanceAssigned('<%=state.id%>'')"><%=RequestAssignment.valc_assigned_requests_counts(params[:start_date],params[:end_date],3,[state.id])%></td>
    </tr> 
  <%end%>
  
  
  
</table></td>
</tr>

</table>
</div>
</center>
<script>
   function assignments(stateId){
    var states = []
    states.push(stateId)
    var from = getUrlVars()["from"]; 
    var to = getUrlVars()["to"];
    if(from == 'undefined' || from == null || to == 'undefined' || to == null) {
       location.href="/request_assignments/new?states="+states+"&request_type=0,1,2,3&is_rrm=true"  
    }else{
       location.href="/request_assignments/new?from="+from+"&to="+to+"&states="+states+"&request_type=0,1,2,3&is_rrm=true"  
    }
   }
   function assignmentCount(id){
      var states = []
      states.push(id)
      var from = getUrlVars()["from"]; 
      var to = getUrlVars()["to"];  
      $.ajax({
         url : "/request_assignments/counts",
         type : "GET",
         data : {states : states,
                 start_date : from,
                 end_date : to
         },
         dataType : "text",

         complete: function(){

         },
         success: function(data,xhr){
          counts = JSON.parse(data)
          request_assignments = counts['request_assignments']
          type = ["gsb","sis","in_shop","maintenance"]
          for(var i=0;i<request_assignments.length;i++){
            request_assignment = request_assignments[i]
            reqType = request_assignment[type[i]]
            countAssigned = reqType[0]['assigned'] 
            countPending = reqType[0]['pending']
            $("."+type[i]+"_pending"+id).text(countPending);
            $("."+type[i]+"_assigned"+id).text(countAssigned);
          }
         },
         error: function(){

         } 
      });
      
     }
      function sisPending(stateId){
        var states = []
        states.push(stateId)
        var from = getUrlVars()["from"]; 
        var to = getUrlVars()["to"];
        if(from == 'undefined' || from == null || to == 'undefined' || to == null) {
           location.href="/request_assignments/new?states="+states+"&request_type=1&is_rrm=true"  
        }else{
           location.href="/request_assignments/new?from="+from+"&to="+to+"&states="+states+"&request_type=1&is_rrm=true"  
        }
       
      };
      function gsbPending(stateId){
        var states = []
        states.push(stateId)
        var from = getUrlVars()["from"]; 
        var to = getUrlVars()["to"];
        if(from == 'undefined' || from == null || to == 'undefined' || to == null) {
           location.href="/request_assignments/new?states="+states+"&request_type=0&is_rrm=true"  
        }else{
           location.href="/request_assignments/new?from="+from+"&to="+to+"&states="+states+"&request_type=0&is_rrm=true"  
        }
       
      };
      function inShopPending(stateId){
        var states = []
        states.push(stateId)
        var from = getUrlVars()["from"]; 
        var to = getUrlVars()["to"];
        if(from == 'undefined' || from == null || to == 'undefined' || to == null) {
           location.href="/request_assignments/new?states="+states+"&request_type=2&is_rrm=true"  
        }else{
           location.href="/request_assignments/new?from="+from+"&to="+to+"&states="+states+"&request_type=2&is_rrm=true"  
        }
       
      };
     function maintenancePending(stateId){
        var states = []
        states.push(stateId)
        var from = getUrlVars()["from"]; 
        var to = getUrlVars()["to"];
        if(from == 'undefined' || from == null || to == 'undefined' || to == null) {
           location.href="/request_assignments/new?states="+states+"&request_type=3&is_rrm=true"  
        }else{
           location.href="/request_assignments/new?from="+from+"&to="+to+"&states="+states+"&request_type=3&is_rrm=true"  
        }
       
      };
      function sisAssigned(stateId){
        var states = []
        states.push(stateId)
        var from = getUrlVars()["from"]; 
        var to = getUrlVars()["to"];
        if(from == 'undefined' || from == null || to == 'undefined' || to == null) {
           location.href="/request_assignments?states="+states+"&request_type=1&is_valc=1"  
        }else{
           location.href="/request_assignments/new?from="+from+"&to="+to+"&states="+states+"&request_type=1&is_valc=1"  
        }
       
      };
      function gsbAssigned(stateId){
        var states = []
        states.push(stateId)
        var from = getUrlVars()["from"]; 
        var to = getUrlVars()["to"];
        if(from == 'undefined' || from == null || to == 'undefined' || to == null) {
           location.href="/request_assignments?states="+states+"&request_type=0&is_valc=1"  
        }else{
           location.href="/request_assignments/new?from="+from+"&to="+to+"&states="+states+"&request_type=0&is_valc=1"  
        }
       
      };
      function inShopAssigned(stateId){
        var states = []
        states.push(stateId)
        var from = getUrlVars()["from"]; 
        var to = getUrlVars()["to"];
        if(from == 'undefined' || from == null || to == 'undefined' || to == null) {
           location.href="/request_assignments?states="+states+"&request_type=2&is_valc=1"  
        }else{
           location.href="/request_assignments/new?from="+from+"&to="+to+"&states="+states+"&request_type=2&is_valc=1"  
        }
       
      };
      function maintenanceAssigned(stateId){
        var states = []
        states.push(stateId)
        var from = getUrlVars()["from"]; 
        var to = getUrlVars()["to"];
        if(from == 'undefined' || from == null || to == 'undefined' || to == null) {
           location.href="/request_assignments?states="+states+"&request_type=3&is_valc=1"  
        }else{
           location.href="/request_assignments/new?from="+from+"&to="+to+"&states="+states+"&request_type=3&is_valc=1"  
        }
       
      };
</script>

 