<div id ="date_field">
<label><b>From</b></label> 
<%= date_field_tag("date_from", "") %>
<label><b>To</b></label>
<%= date_field_tag("date_to", "") %>
<%= button_tag class: 'search_button' do %>
<i class="fa fa-search search-icon"></i>
<% end %>
</div> 
<center>
<div class="table-responsive custom-bg">
<table class="custom-table" cellspacing="0">

<tr>
<td align="center" height="40" valign="top"><div class="border-bottom">State</div>

<%=select_tag :valc_states,options_for_select([['All States',0]]+State.all.pluck(:name,:id),[0]),multiple: true,class: "form-control multi-select",:onchange => "state()"%>



</td>
<td><table width="100%" border="0" class="tbl-second-lvl" cellspacing="0" cellpadding="0">
	
  <tr>
    <td colspan="2" align="center">SIS</td>
    <td colspan="2">GSB </td>
    <td colspan="2">IN SHOP</td>
    <td colspan="2">MAINTENANCE</td>
    </tr>

  <tr>
    <td>Pending</td>
    <td>Assigned</td>
   <td>Pending</td>
    <td>Assigned</td>
    <td>Pending</td>
    <td>Assigned</td>
   <td>Pending</td>
    <td>Assigned</td>
  </tr>
  <tr>
    <td class="sis_pending"><%=RequestAssignment.valc_pending_requests_counts(params[:start_date],params[:end_date],1,[0])%></td>
    <td class="sis_assigned"><%=RequestAssignment.valc_assigned_requests_counts(params[:start_date],params[:end_date],1,[0])%></td>
    <td class="gsb_pending"><%=RequestAssignment.valc_pending_requests_counts(params[:start_date],params[:end_date],0,[0])%></td>
    <td class="gsb_assigned"><%=RequestAssignment.valc_assigned_requests_counts(params[:start_date],params[:end_date],0,[0])%></td>
    <td class="in_shop_pending"><%=RequestAssignment.valc_pending_requests_counts(params[:start_date],params[:end_date],2,[0])%></td>
    <td class="in_shop_assigned"><%=RequestAssignment.valc_assigned_requests_counts(params[:start_date],params[:end_date],2,[0])%></td>
    <td class="maintenance_pending"><%=RequestAssignment.valc_pending_requests_counts(params[:start_date],params[:end_date],3,[0])%></td>
    <td class="maintenance_assigned"><%=RequestAssignment.valc_assigned_requests_counts(params[:start_date],params[:end_date],3,[0])%></td>
  </tr>
   
  
  
  
</table></td>
</tr>

</table>
</div>
</center>
<script>
   $("#valc_states").change(function(){
      var states = []
      $('#valc_states  option:selected').each(function() {
            states.push($(this).val())
      });
      var from = getUrlVars()["from"]; 
      var to = getUrlVars()["to"];  
      $.ajax({
         url : "/request_assignments/counts",
         type : "GET",
         data : {states : states,
                 start_date : from,
                 end_date : to
         },
         dataType : "text",

         complete: function(){

         },
         success: function(data,xhr){
          counts = JSON.parse(data)
          request_assignments = counts['request_assignments']
          type = ["gsb","sis","in_shop","maintenance"]
          for(var i=0;i<request_assignments.length;i++){
            request_assignment = request_assignments[i]
            reqType = request_assignment[type[i]]
            countAssigned = reqType[0]['assigned'] 
            countPending = reqType[0]['pending']
            $("."+type[i]+"_pending").text(countPending);
            $("."+type[i]+"_assigned").text(countAssigned);
          }
         },
         error: function(){

         } 
      });
      
    });
      $(".sis_pending").click(function(){
        var states = []
        $('#valc_states  option:selected').each(function() {
              states.push($(this).val())
        });
        var from = getUrlVars()["from"]; 
        var to = getUrlVars()["to"];
        if(from == 'undefined' || from == null || to == 'undefined' || to == null) {
           location.href="/request_assignments/new?states="+states+"&request_type=1&is_rrm=true"  
        }else{
           location.href="/request_assignments/new?from="+from+"&to="+to+"&states="+states+"&request_type=1&is_rrm=true"  
        }
       
      });
      $(".gsb_pending").click(function(){
        var states = []
        $('#valc_states  option:selected').each(function() {
              states.push($(this).val())
        });
        var from = getUrlVars()["from"]; 
        var to = getUrlVars()["to"];
        if(from == 'undefined' || from == null || to == 'undefined' || to == null) {
           location.href="/request_assignments/new?states="+states+"&request_type=0&is_rrm=true"  
        }else{
           location.href="/request_assignments/new?from="+from+"&to="+to+"&states="+states+"&request_type=0&is_rrm=true"  
        }
       
      });
      $(".in_shop_pending").click(function(){
        var states = []
        $('#valc_states  option:selected').each(function() {
              states.push($(this).val())
        });
        var from = getUrlVars()["from"]; 
        var to = getUrlVars()["to"];
        if(from == 'undefined' || from == null || to == 'undefined' || to == null) {
           location.href="/request_assignments/new?states="+states+"&request_type=2&is_rrm=true"  
        }else{
           location.href="/request_assignments/new?from="+from+"&to="+to+"&states="+states+"&request_type=2&is_rrm=true"  
        }
       
      });
      $(".maintenance_pending").click(function(){
        var states = []
        $('#valc_states  option:selected').each(function() {
              states.push($(this).val())
        });
        var from = getUrlVars()["from"]; 
        var to = getUrlVars()["to"];
        if(from == 'undefined' || from == null || to == 'undefined' || to == null) {
           location.href="/request_assignments/new?states="+states+"&request_type=3&is_rrm=true"  
        }else{
           location.href="/request_assignments/new?from="+from+"&to="+to+"&states="+states+"&request_type=3&is_rrm=true"  
        }
       
      });
      $(".sis_assigned").click(function(){
        var states = []
        $('#valc_states  option:selected').each(function() {
              states.push($(this).val())
        });
        var from = getUrlVars()["from"]; 
        var to = getUrlVars()["to"];
        if(from == 'undefined' || from == null || to == 'undefined' || to == null) {
           location.href="/request_assignments?states="+states+"&request_type=1&is_valc=1"  
        }else{
           location.href="/request_assignments/new?from="+from+"&to="+to+"&states="+states+"&request_type=1&is_valc=1"  
        }
       
      });
      $(".gsb_assigned").click(function(){
        var states = []
        $('#valc_states  option:selected').each(function() {
              states.push($(this).val())
        });
        var from = getUrlVars()["from"]; 
        var to = getUrlVars()["to"];
        if(from == 'undefined' || from == null || to == 'undefined' || to == null) {
           location.href="/request_assignments?states="+states+"&request_type=0&is_valc=1"  
        }else{
           location.href="/request_assignments/new?from="+from+"&to="+to+"&states="+states+"&request_type=0&is_valc=1"  
        }
       
      });
      $(".in_shop_assigned").click(function(){
        var states = []
        $('#valc_states  option:selected').each(function() {
              states.push($(this).val())
        });
        var from = getUrlVars()["from"]; 
        var to = getUrlVars()["to"];
        if(from == 'undefined' || from == null || to == 'undefined' || to == null) {
           location.href="/request_assignments?states="+states+"&request_type=2&is_valc=1"  
        }else{
           location.href="/request_assignments/new?from="+from+"&to="+to+"&states="+states+"&request_type=2&is_valc=1"  
        }
       
      });
      $(".maintenance_assigned").click(function(){
        var states = []
        $('#valc_states  option:selected').each(function() {
              states.push($(this).val())
        });
        var from = getUrlVars()["from"]; 
        var to = getUrlVars()["to"];
        if(from == 'undefined' || from == null || to == 'undefined' || to == null) {
           location.href="/request_assignments?states="+states+"&request_type=3&is_valc=1"  
        }else{
           location.href="/request_assignments/new?from="+from+"&to="+to+"&states="+states+"&request_type=3&is_valc=1"  
        }
       
      });
</script>

 