<%= form_tag users_sign_in_path do %>
  <div class="login_wrapper" id="toggle">
    <div class="logobox">
      <%= image_tag 'gionee_logo (1).png' %>
    </div>

    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <div class="login_form">
      <%= text_field_tag :email, nil, :placeholder => "Email ID", :id => "email" %>
      <%= password_field_tag :password, nil, :placeholder => "Password", :id => "password" %>
    </div>
    <div class="button_box">
      <div class="log_in">
        <%= submit_tag "Continue >>" %>
      </div>      
      <div class="clear"></div>
    </div>
  </div>
<% end %>