
<div class="super_div">
	<div class="approv_cont clearfix">
     
    <div class="appr_info">
        <div>SIS type</div>
        <div><%=@beatroute.sis_type%></div>
      </div>

      <div class="appr_retail">
        <div></div>
      </div>

      <div class="appr_desc">
        <div>Installed on</div>
        <div><%=@beatroute.sis_installed_on%></div>
      </div>

</div>

<div class="approv_cont clearfix">
    <div class="appr_info">
        <div>GSB type</div>
        <div><%=@beatroute.gsb_type%></div>
      </div>

      <div class="appr_retail">
        <div></div>
        <div></div>
      </div>

      <div class="appr_desc">
        <div>Installed on</div>
        <div><%=@beatroute.gsb_installed_on%></div>
      </div>
  </div>

  <div class="approv_cont clearfix">
    <div class="appr_info">
        <div>clipon</div>
        <div><%=@beatroute.clipon%></div>
      </div>

      <div class="appr_retail">
        <div>Countertop</div>
        <div><%=@beatroute.countertop%></div>
      </div>

      <div class="appr_desc">
        <div>Flange</div>
        <div><%=@beatroute.flange%></div>
      </div>
  </div>

  <div class="approv_cont clearfix">
    <div class="appr_info">
        <div>Standee</div>
        <div><%=@beatroute.standee%></div>
      </div>

      <div class="appr_retail">
        <div></div>
        <div></div>
      </div>

      <div class="appr_desc">
        <div>In Shop branding</div>
        <div><%=@beatroute.inshop_branding%></div>
      </div>
  </div>

  <div class="approv_cont clearfix">
    <div class="appr_info">
        <div>SIS</div>
        <div><%=@beatroute.sis%></div>
      </div>

      <div class="appr_retail">
        <div></div>
        <div></div>
      </div>

      <div class="appr_desc">
        <div>GSB</div>
        <div><%=@beatroute.gsb%></div>
      </div>
  </div>
</div>