
<div class="super_div">
  <div class="approv_cont clearfix">
     
    <div class="appr_info">
        <div>Distributor Name</div>
        <div><%=@beatroute.distributor_name %></div>
      </div>

      <div class="appr_retail">
        <div></div>
        <div></div>
      </div>

      <div class="appr_desc">
        <div>TSM Name</div>
        <div><%=@beatroute.tsm_name %></div>
      </div>

</div>

<div class="approv_cont clearfix">
    <div class="appr_info">
        <div>RSP Id</div>
        <div><%=@beatroute.rsp_id %></div>
      </div>

      <div class="appr_retail">
        <div>RSP Name</div>
        <div><%=@beatroute.rsp_name %></div>
      </div>

      <div class="appr_desc">
        <div>Employee Id</div>
        <div><%=@beatroute.employee_code %></div>
      </div>
  </div>


<div class="approv_cont clearfix">
   <div class="appr_info">
        <div>Shop Code</div>
        <div><%=@beatroute.shop_code %></div>
      </div>

      <div class="appr_retail">
        <div>Retailer Code</div>
        <div><%=@beatroute.retailer_code %></div>
      </div>

      <div class="appr_desc">
        <div>Shop Name</div>
        <div><%=@beatroute.retailer_name %></div>
      </div>
  </div>
 

<div class="approv_cont clearfix">
    <div class="appr_info">
        <div>Last month avg sales volume</div>
        <div><%=@beatroute.last_month_avg_sales_volume %></div>
      </div>

      <div class="appr_retail">
        <div></div>
        <div></div>
      </div>

      <div class="appr_desc">
        <div>Last month avg, sales value</div>
        <div><%=@beatroute.last_month_avg_sales_value%></div>
      </div>
  </div>

  <div class="approv_cont clearfix">
    <div class="appr_info">
        <div>MTD avg sales volume</div>
        <div><%=@beatroute.mtd_avg_sales_volume%></div>
      </div>

      <div class="appr_retail">
        <div></div>
        <div></div>
      </div>

      <div class="appr_desc">
        <div>MTD avg, sales value</div>
        <div><%=@beatroute.mtd_avg_sales_value%></div>
      </div>
  </div>
</div>