<div id="nav-col-submenu"></div>
  </div>

<div id="content-wrapper">
   <%= render 'shared/notice_messages'%>
<div class="row">
<div class="col-lg-12">
  <div class="add_new_notfcn">
    <h4><i class="fa fa-plus-square fa-lg"></i><span> <% if can? :manage, Beatroute %>
      <%= link_to "New Record", new_beatroute_path%>
      <% end %></span></h4>
  </div>
</div>
</div>

<div class="row">
  <div class="col-lg-12">
  <div class="main-box clearfix">
  <div class="clearfix">
    <div class="common_page notification_page">
    <div class="hdr">
    <div class="row">
      <div class="col-md-5">
        <div class="txt">Beatroute</div>
      </div>
    </div>
    </div>  

  <% @beatroutes.each do |beatroute| %>
    <div class="ntifctn_blk">
      <div class="row">
        <div class="col-md-10">
          <p ><%=beatroute.retailer_code %> <span class="blue"> <%=beatroute.retailer_name %></span></p>
          <p> <%= beatroute.city%></p>
        </div>

        <div class="col-md-2">
          <ul class="list-inline list-unstyled edt_del ">
            <li class="blue"><i class="fa fa-pencil"></i><span>
               <%=link_to "Edit",[:edit,beatroute] %>
            </span></li>
             <li class="blue">
                                  <i class="fa fa-trash-o"></i>
                                  <span>
                                  <%= link_to "Show", [beatroute] %>
                                  </span>
                                </li>

           
          </ul>
        </div>
      </div>
    </div>
  <%end%>

    <%if @beatroutes.length > 1%>
      <%=will_paginate @beatroutes%>
  <%end%>

      </div>
    </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#beatroute').attr("class",'active') 
</script> 