<div id="nav-col-submenu"></div>
</div>

<div id="content-wrapper">

<div class="row">
<div class="col-lg-12">
<div class="main-box clearfix">
<div class="clearfix">
	<div class="common_page ">
		<h2>Stock</h2>
		<div class="main-box-body clearfix">
			<div class="tochimobie_blk">
				<div class="row">
					<div class="col-md-6 result">
						
						<div class="cmmn_blk">
						<div class="row">
							<div class="col-md-6">
								<label>Last Reported Stock Number</label>
							</div>
							<div class="col-md-6"><%=@beatroute.last_reported_stock %></div>	
						</div>
						</div>
						
					</div>

						<div class="col-md-6 result">
						<div class="cmmn_blk">
						<div class="row">
							<div class="col-md-6">
								<label>Models in Stock</label>
							</div>
							<div class="col-md-6"><%=@beatroute.models_in_stock %></div>	
						</div>
						</div>
						
					</div>

				</div>
			</div>
		</div>

					
				</div>



				<div class="common_page ">
		<h2>Sales</h2>
		<div class="main-box-body clearfix">
			<div class="tochimobie_blk">
				<div class="row">
					<div class="col-md-6 result">
					
						<div class="cmmn_blk">
						<div class="row">
							<div class="col-md-6">
								<label>MTD avg, sales value</label>
							</div>
							<div class="col-md-6"><%=@beatroute.mtd_avg_sales_value%></div>	
						</div>
						</div>
						<div class="cmmn_blk">
						<div class="row">
							<div class="col-md-6">
								<label>Last month avg, sales value</label>
							</div>
							<div class="col-md-6"><%=@beatroute.last_month_avg_sales_value%></div>	
						</div>
						</div>
						<div class="cmmn_blk">
						<div class="row">
							<div class="col-md-6">
								<label>MTD avg sales volume</label>
							</div>
							<div class="col-md-6"><%=@beatroute.mtd_avg_sales_volume%></div>	
						</div>
						</div>
					</div>

						<div class="col-md-6 result">
						
						<div class="cmmn_blk">
						<div class="row">
							<div class="col-md-6">
								<label>Shop Name</label>
							</div>
							<div class="col-md-6"><%=@beatroute.retailer_name %></div>	
						</div>
						</div>
						<div class="cmmn_blk">
						<div class="row">
							<div class="col-md-6">
								<label>Last month avg sales volume</label>
							</div>
							<div class="col-md-6"><%=@beatroute.last_month_avg_sales_volume %></div>	
						</div>
						</div>
						
						
					</div>

				</div>
			</div>
		</div>

					
				</div>


				<div class="common_page ">
		<h2>Attendance</h2>
		<div class="main-box-body clearfix">
			<div class="tochimobie_blk">
				<div class="row">
					<div class="col-md-6 result">
					<div class="cmmn_blk">
						<div class="row">
							<div class="col-md-6">
								<label>Distributor Name</label>
							</div>
							<div class="col-md-6"><div class="blue"><%=@beatroute.distributor_name %></div></div>	
						</div>
						</div>
						<div class="cmmn_blk">
						<div class="row">
							<div class="col-md-6">
								<label>TSM Name</label>
							</div>
							<div class="col-md-6"><%=@beatroute.tsm_name %></div>	
						</div>
						</div>
						<div class="cmmn_blk">
						<div class="row">
							<div class="col-md-6">
								<label>RSP Id</label>
							</div>
							<div class="col-md-6"><%=@beatroute.rsp_id %></div>	
						</div>
						</div>
						<div class="cmmn_blk">
						<div class="row">
							<div class="col-md-6">
								<label>RSP Name</label>
							</div>
							<div class="col-md-6"><%=@beatroute.rsp_name %></div>	
						</div>
						</div>
						<div class="cmmn_blk">
						<div class="row">
							<div class="col-md-6">
								<label>Employee Id</label>
							</div>
							<div class="col-md-6"><%=@beatroute.employee_code %></div>	
						</div>
						</div>
					</div>

						<div class="col-md-6 result">
						<div class="cmmn_blk">
						<div class="row">
							<div class="col-md-6">
								<label>Shop Code</label>
							</div>
							<div class="col-md-6"><%=@beatroute.shop_code %></div>	
						</div>
						</div>
						<div class="cmmn_blk">
						<div class="row">
							<div class="col-md-6">
								<label>Retailer Code</label>
							</div>
							<div class="col-md-6"><%=@beatroute.retailer_code %></div>	
						</div>
						</div>
						<div class="cmmn_blk">
						<div class="row">
							<div class="col-md-6">
								<label>Retailer Name</label>
							</div>
							<div class="col-md-6"><%=@beatroute.retailer_name %></div>	
						</div>
						</div>
						<div class="cmmn_blk">
						<div class="row">
							<div class="col-md-6">
								<label>Last month avg. attendance</label>
							</div>
							<div class="col-md-6"><%=@beatroute.avg_last_month_attendance %></div>	
						</div>
						</div>
						
					</div>

				</div>
			</div>
		</div>

					
				</div>


				<div class="common_page ">
		<h2>Other</h2>
		<div class="main-box-body clearfix">
			<div class="tochimobie_blk">
				<div class="row">
					<div class="col-md-6 result">
					<div class="cmmn_blk">
						<div class="row">
							<div class="col-md-3">
								<label>SIS type</label>
							</div>
							<div class="col-md-9"><div class="blue"><%=@beatroute.sis_type%></div></div>	
						</div>
						</div>
						<div class="cmmn_blk">
						<div class="row">
							<div class="col-md-3">
								<label>Installed on</label>
							</div>
							<div class="col-md-9"><%=@beatroute.sis_installed_on%></div>	
						</div>
						</div>
						<div class="cmmn_blk">
						<div class="row">
							<div class="col-md-3">
								<label>GSB type</label>
							</div>
							<div class="col-md-9"><%=@beatroute.gsb_type%></div>	
						</div>
						</div>
						<div class="cmmn_blk">
						<div class="row">
							<div class="col-md-3">
								<label>Installed on</label>
							</div>
							<div class="col-md-9"><%=@beatroute.gsb_installed_on%></div>	
						</div>
						</div>
						<div class="cmmn_blk">
						<div class="row">
							<div class="col-md-3">
								<label>clipon</label>
							</div>
							<div class="col-md-9"><%=@beatroute.clipon%></div>	
						</div>
						</div>
						<div class="cmmn_blk">
						<div class="row">
							<div class="col-md-3">
								<label>GSB</label>
							</div>
							<div class="col-md-9"><%=@beatroute.gsb%></div>	
						</div>
						</div>
					</div>

						<div class="col-md-6 result">
						<div class="cmmn_blk">
						<div class="row">
							<div class="col-md-3">
								<label>Countertop</label>
							</div>
							<div class="col-md-9"><%=@beatroute.countertop%></div>	
						</div>
						</div>
						<div class="cmmn_blk">
						<div class="row">
							<div class="col-md-3">
								<label>Flange</label>
							</div>
							<div class="col-md-9"><%=@beatroute.flange%></div>	
						</div>
						</div>
						<div class="cmmn_blk">
						<div class="row">
							<div class="col-md-3">
								<label>Standee</label>
							</div>
							<div class="col-md-9"><%=@beatroute.standee%></div>	
						</div>
						</div>
						<div class="cmmn_blk">
						<div class="row">
							<div class="col-md-3">
								<label>In Shop branding</label>
							</div>
							<div class="col-md-9">ssss</div>	
						</div>
						</div>
						<div class="cmmn_blk">
						<div class="row">
							<div class="col-md-3">
								<label>SIS</label>
							</div>
							<div class="col-md-9"><%=@beatroute.sis%></div>	
						</div>
						</div>
					</div>

				</div>
			</div>
		</div>

					
				</div>



			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
  $('#beatroute').attr("class",'active') 
</script> 
					
		

	