<% layout_element = OpenStruct.new(form.object.layout_element || {}) %>
<div class="layout-element-container container" data-name="[layout_element]">
  <h5>Layout Element</h5>
  <p>Id: <span class="element-id"><%= layout_element.id %></span></p>
  <%= link_to "Generate Element Id", "javascript:void(0);", :class => 'generate-element-id' %>
  <%= link_to "Remove", "javascript:void(0);", :class => 'remove-field' %>
  <%= form.fields_for :layout_element, OpenStruct.new(form.object.layout_element || {}) do |f| %>
    <%= f.text_field :get_url, :placeholder => "Get Url", :data => { :name => "[get_url]" } %>
    <%= f.hidden_field :id, :placeholder => "Id", :data => { :name => "[id]" }, :class => 'element-id-field' %>
    <%= f.text_field :type, :placeholder => "Type", :data => { :name => "[type]"} %>
    <%= f.text_field :width, :placeholder => "Width", :data => { :name => "[width]" } %>
    <%= f.text_field :height, :placeholder => "Height", :data => { :name => "[height]" } %>
    <%= f.text_field :weight, :placeholder => "Weight", :data => { :name => "[weight]" } %>
    <%= f.text_field :orientation, :placeholder => "Orientation", :data => { :name => "[orientation]" } %>
    <%= f.text_field :allow_reflow, :placeholder => "Allow Reflow", :data => { :name => "[allow_reflow]" } %>
    <%= render :partial => 'components', :locals => { :form => f, :template => template } %>
    <%= render :partial => 'ui_elements', :locals => { :form => f } %>
  <% end %>
</div>