<div id="nav-col-submenu"></div>
</div>
<div id="content-wrapper">
          <div class="row" style="opacity: 1;">
            <div class="col-lg-12">
              
              <div class="row">
                <div class="col-lg-12">                  
                  <h1>Add Assignments</h1>
                </div>
              </div>
              
              <div class="row">
                <div class="col-lg-12">
                  <div class="main-box clearfix" style="min-height: 1100px;">
                    <div class="tabs-wrapper tabs-no-header">
                      <ul class="nav nav-tabs">
                        <li class="<%='active' if params[:is_rrm]=='true' || params[:is_rrm] == nil%>"><a href="#tab-home" data-toggle="tab" id= "assigned">Assigned by RRM</a></li>
                        <li class="<%='active' if params[:is_rrm]=='false'%>"><a href="#tab-accounts" data-toggle="tab" id= "unassigned">Unassigned</a></li>
                        
                      </ul>
                      
<div class="tab-content">
  <div class="tab-pane fade active in" id="tab-home">
                          
<div class="row">
<div class="col-lg-12">
  <div class="col-md-2">
    <%= select_tag :states, options_for_select([['All States',0]]+State.all.pluck(:name,:id)),:class => 'form-control custm_select',:required => "required",:onchange => "states()",:prompt => "-----------------States-------------------" %>       
  </div>
  <div class="col-md-2">
    <%= select_tag :request_type, options_for_select([['All Request Type','0,1,2,3']]+VENDOR_REQUEST_TYPE),:class => 'form-control custm_select',:required => "required",:onchange => "requestType()",:prompt => "---------Request Type--------" %>       
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-6">
    <div>
      <label><b>From</b></label> 
      <%= date_field_tag("date_from", "") %>
      <label><b>To</b></label>
      <%= date_field_tag("date_to", "") %>
      <%= button_tag class: 'dateSearch' do %>
        <i class="fa fa-search search-icon"></i>
      <% end %>
    </div>
  </div>
</div> 
<div class="col-lg-12">
<div class="main-box no-header clearfix">
  <div class="main-box-body clearfix">
    <div class="table-responsive">
 
      <table class="table user-list table-hover">
        <thead>
          <tr>
            <th><span>Request Id</span></th>
            <th><span>Request Type</span></th>
             <th><span>RT Code</span></th>
            <th><span>Retailer Name</span></th>
            <th><span>Priority</span></th>
            <th><span>Vendor</span></th>
            <th><span>RRM<span></th>
             <th><span>Created On</span></th>
             <%if params[:is_rrm] != 'false'%>
                <th><span>Assigned On</span></th>
             <%end%>   
             <%if params[:is_rrm] == 'false'%>         
            <th>
              <ul class="list-inline list-unstyled">
                <li class="blue ch_bttn"><input type='checkbox' name='thing' value='valuable' id="selectAll"/><label for="selectAll">All</label>  </li>
              </ul>
           </th>
           <%else%>
           <th>
            <ul class="list-inline list-unstyled">
                <li class="blue" style="width:100px;"></li>
              </ul>
           </th>
           <%end%>
          </tr>
        </thead>
        <tbody>
        <%@requests.each do |request|%>
          <tr>
            <td>              
              <a href="/requests/<%=request.id%>/edit?q[request_type]=<%=request.request_type%>"><%=request.id%></a>              
            </td>
            <td>
              <%=request.request_type.upcase if request.request_type != nil%>  
            </td>
            <td>
              <%=request.retailer_code.upcase%>  
            </td>
            <td>
              <%=Retailer.retailer_data(request.retailer_code,"name")%>  
            </td>
            <td>
               <%=request.request_assignment.priority%>  
            </td>
            <td>
               <%=request.request_assignment.user.name%> 
            </td>
            <td>
             Akath
            </td>
            <td class="text-center">
              <span class="label label-default"><%=request.created_at.strftime("%d %b,%Y")%></span>
            </td>
             <%if params[:is_rrm] != 'false'%>
             <td class="text-center">
              <span class="label label-default"><%=request.request_assignment.assign_date.strftime("%d %b,%Y") if request.request_assignment.assign_date != nil%></span>
            </td>
            <%end%> 
            <td style="width: 5%;">
              <%if params[:is_rrm] == 'false'%>
                  <ul class="list-inline list-unstyled">
                    <li class="blue ch_bttn add"><input type='checkbox' name='thing' value='<%=request.id%>' id="add<%=request.id%>" class="chbx"/><label for="add<%=request.id%>">Add</label> </li>
                  </ul>
                 <%else%>
                   <ul class="list-inline list-unstyled">
                    <a href="/request_assignments/<%=request.request_assignment.id%>/edit">  
                      <li class="fa-stack" title="Edit">
                        <i class="fa fa-square fa-stack-2x site-color"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                      </li>
                    </a>

                   

                   <a href="/request_assignments/<%=request.request_assignment.id%>/approve">  
                     <li class="fa-stack" title="Approve">
                        <i class="fa fa-square fa-stack-2x site-color"></i>
                        <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                     </li>
                   </a>
                    <a href="/request_assignments/<%=request.request_assignment.id%>/edit">  
                      <li class="fa-stack" onclick="stopRequest(<%=request.request_assignment.id%>)" title="Reject">
                        <i class="fa fa-square fa-stack-2x site-color"></i>
                        <i class="fa fa-times fa-stack-1x fa-inverse"></i>
                      </li>
                    </a>
                  </ul> 
                <%end%>               
            </td>
          </tr>
        <%end%>

        </tbody>
      </table>
    </div>    
  </div>

</div>
     <%if params[:is_rrm] == 'false'%>
        <table class="mr_btm1">
          <tr><td>
            <%=select_tag :vendor_id,options_for_select(User.users_data('vendor')),:prompt => '  -----select vendor-----  ',:class => "vendor-assignment form-control custm_select",:required => "required",:id => "popup-select"%>
          </td>
          <td></td>
          <td>
            <%=select_tag :priority,options_for_select(PRIORITY),:prompt => '   -----select priority-----   ',:required => "required",:class => 'priority form-control custm_select'%>
          </td>

          <%=hidden_field_tag :assigned_by,current_user.id%>
        </tr>
        <tr>
          <td>&nbsp;</td> <td></td> <td></td>
        </tr>
        <tr>
          <td><b>Pending Assignments:</b> <span class="pendingValue">0</span></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Completed Assignments:</b> <span class="completedValue">0</span></td>
          <td></td>
          <td></td>
        </tr>
        </table>
       <div class="col-md-1">
      <%= submit_tag "Assign",:class => "btn btn-success " ,:id => "submit-assignment"%>      
</div>
<%end%>
 <%=will_paginate @requests%>   
</div>
     
</div>

                        </div>
                        
                        
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
              
            </div>
          </div>
           
        </div>
<%=render :partial => 'vendor_assignments/terminate'%>
<script type="text/javascript">
    var value = []
      $('#selectAll').click(function() {
       
      if(this.checked == true){
         $(':checkbox').each(function(i){
          value[i] = $(this).val();
              
         });
      value = value.splice(1,value.length);
      $('#request_id').val(value);
      } 
   if (this.checked) {
       
       $(':checkbox').each(function() {
           this.checked = true;                        
       });
   } else {
      $(':checkbox').each(function() {
           this.checked = false; 
           value = []
           $('#request_id').val('');                      
       });
   } 

});

  $('.chbx').click(function(){
    val = this.value
    if(this.checked){
         value.push(val)
    }else{
      value.splice(value.indexOf(val),1)
      $('#selectAll').prop('checked', false);
    };
 
  });    
   
  $("#submit-assignment").click(function(){

    var vendor_id = $( "select#popup-select option:selected").val();
    var assigned_by = $("#assigned_by").val();
    var priority = $("select#priority option:selected").val();
     if(vendor_id == 'undefined' || vendor_id == null || vendor_id == ""){
      alert("Please select a vendor!")
    }else if(priority == null || priority == 'undefined' || priority == ""){
      alert("Please select priority for selected request")

    }else if(value.length == 0){
      alert("Please select a request to assign!")
    }
    else{
      $.ajax({
        url: "/request_assignments/mass_assignment",
        type: "POST",
        data: {
              request_assignment : {
              user_id : vendor_id,
              request_id : value,
              user_type : 'vendor',
              assigned_by : assigned_by,
              admin_type : 'vendor_allocator',
              priority : priority          
            }
        },
        dataType: 'text',

        complete: function(){

        },
        success: function(data){
         alert("Successfully assigned!")
         location.reload()
        },
        error: function(){
          alert("Please try again!")
        }
       });
    }
       
   }); 

  $("#unassigned").click(function(){
      var from = getUrlVars()["from"]; 
      var to = getUrlVars()["to"]; 
      var request_type = getUrlVars()["request_type"];var states = getUrlVars()["states"]; 

      if(from == 'undefined' || from == null || to == 'undefined' || to == null) {
        if(request_type == null || request_type == 'undefined' || states == null || states == 'undefined'){
          location.href="/request_assignments/new?is_rrm=false"
        }else{
          location.href="/request_assignments/new?states="+states+"&request_type="+request_type+"&is_rrm=false"
        }
         
      }else{
        location.href="/request_assignments/new?from="+from+"&to="+to+"&states="+states+"&request_type="+request_type+"&is_rrm=false"  
      }
  });
  $("#assigned").click(function(){
      var from = getUrlVars()["from"]; 
      var to = getUrlVars()["to"]; 
      var request_type = getUrlVars()["request_type"];
      var states = getUrlVars()["states"]; 

      if(from == 'undefined' || from == null || to == 'undefined' || to == null) {
        if(request_type == null || request_type == 'undefined' || states == null || states == 'undefined'){
          location.href="/request_assignments/new?is_rrm=true"
        }else{
          location.href="/request_assignments/new?states="+states+"&request_type="+request_type+"&is_rrm=true" 
        }
      }     
      else{
        if(request_type == null || request_type == 'undefined' || states == null || states == 'undefined'){
          location.href="/request_assignments/new?from="+from+"&to="+to+"&states="+states+"&is_rrm=true" 
        }else{
          location.href="/request_assignments/new?from="+from+"&to="+to+"&states="+states+"&request_type="+request_type+"&is_rrm=true" 
        }
         
      }
  });
$("#popup-select").change(function(){
    var userId = $("select#popup-select option:selected").val();
    $.ajax({
      url : "/request_assignments/userInfo",
      type : "POST",
      data : {user_id : userId},
      dataType : "text",
      complete: function(){

      },
      success: function(data,xhr){
        data = JSON.parse(data);
        result = data['object']
        pending = result['pending']
        in_process = result['in_process']
        completed = result['completed']
        $('.pendingValue').text(parseInt(pending)+parseInt(in_process))
        $('.completedValue').text(completed)
      },
      error: function(){

      }
    });
  });

$('#request_type').val(getUrlVars()["request_type"]);
$('#states').val(getUrlVars()["states"]);
function requestType(){
  var type = $('#request_type option:selected').val();
  var url = location.href
  var isRequestType = getUrlVars()["request_type"]; 
  if(isRequestType != null && isRequestType.length != 0){
    url1 = url.split("request_type")[0]
    url2 = url.split("request_type")[1].split("&")[1]
    if(url2 == '' || url2 == undefined || url2 == null){
      location.href=url1+"request_type="+type
    }else{
       location.href=url1+"request_type="+type+"&"+url2 
    }
    
  }else{
    location.href=url+'&request_type='+type
  }
} 

function states(){
  var type = $('#states option:selected').val();
  var url = location.href
  var isRequestType = getUrlVars()["states"]; 
  if(isRequestType != null && isRequestType.length != 0){
    url1 = url.split("states")[0]
    url2 = url.split("states")[1].split("&")
    url2 = url2[1]+"&"+url2[2]
    if(url2 == '' || url2 == undefined || url2 == null){
      location.href=url1+"states="+type
    }else{
       location.href=url1+"states="+type+"&"+url2 
    }
    
  }else{
    location.href=url+'&states='+type
  }
}   


 </script>