<div id="nav-col-submenu"></div>
</div>
<div id="content-wrapper">
          <div class="row" style="opacity: 1;">
            <div class="col-lg-12">
              
              <div class="row">
                <div class="col-lg-12">
                   
                  
                  <h1>Add Assignments</h1>
                </div>
              </div>
              
              <div class="row">
                <div class="col-lg-12">
                  <div class="main-box clearfix" style="min-height: 1100px;">
                    <div class="tabs-wrapper tabs-no-header">
                      <ul class="nav nav-tabs">
                        <li class="<%='active' if params[:is_rrm]=='true' || params[:is_rrm] == nil%>"><a href="#tab-home" data-toggle="tab" id= "assigned">Assigned by RRM</a></li>
                        <li class="<%='active' if params[:is_rrm]=='false'%>"><a href="#tab-accounts" data-toggle="tab" id= "unassigned">Unassigned</a></li>
                        
                      </ul>
                      
                      <div class="tab-content">
                        <div class="tab-pane fade active in" id="tab-home">
                          
                          <div class="row">
<div class="col-lg-12">
<div class="main-box no-header clearfix">
  <div class="main-box-body clearfix">
    <div class="table-responsive">
      <%if params[:is_rrm] == 'false'%>
        <table>
          <tr><td>
            <%=select_tag :vendor_id,options_for_select(User.users_data('vendor')),:prompt => '--------select vendor--------',:class => "vendor-assignment",:required => "required"%>
          </td>
          <td width="2%"></td>
          <td width="200px;">
            <%=select_tag :priority,options_for_select(PRIORITY),:prompt => '--------select priority--------',:required => "required",:class => 'priority'%>
          </td>
          <%=hidden_field_tag :assigned_by,current_user.id%>
        </tr>
        </table>
      <%end%>
      <table class="table user-list table-hover">
        <thead>
          <tr>
            <th><span>Request Id</span></th>
            <th><span>Request Type</span></th>
             <th class="text-center"><span>RT Code</span></th>
            <th><span>Shop Name</span></th>
            <th class="text-center"><span>City</span></th>
            <th><span>State</span></th>
            <th><span>RRM<span></th>
             <th class="text-center"><span>Created On</span></th>
             <%if params[:is_rrm] != 'false'%>
                <th><span>Assigned On</span></th>
             <%end%>   
             <%if params[:is_rrm] == 'false'%>         
            <th>
              <ul class="list-inline list-unstyled">
                <li class="blue ch_bttn"><input type='checkbox' name='thing' value='valuable' id="selectAll"/><label for="selectAll">All</label>  </li>
              </ul>
           </th>
           <%else%>
           <th>
            <ul class="list-inline list-unstyled">
                <li class="blue" style="width:100px;"></li>
              </ul>
           </th>
           <%end%>
          </tr>
        </thead>
        <tbody>
        <%@requests.each do |request|%>
          <tr>
            <td>              
              <%=request.id%>              
            </td>
            <td>
              <%=request.request_type.upcase if request.request_type != nil%>  
            </td>
            <td>
              <%=request.retailer_code.upcase%>  
            </td>
            <td>
              <%=Retailer.retailer_data(request.retailer_code,"name")%>  
            </td>
            <td>
               <%=Retailer.retailer_data(request.retailer_code,"city")%>  
            </td>
            <td>
               <%=Retailer.retailer_data(request.retailer_code,"state")%> 
            </td>
            <td>
             Akath
            </td>
            <td class="text-center">
              <span class="label label-default"><%=request.created_at.strftime("%d %b,%Y")%></span>
            </td>
             <%if params[:is_rrm] != 'false'%>
             <td class="text-center">
              <span class="label label-default"><%=request.request_assignment.assign_date.strftime("%d %b,%Y") if request.request_assignment.assign_date != nil%></span>
            </td>
            <%end%> 
            <td style="width: 5%;">
              <%if params[:is_rrm] == 'false'%>
                  <ul class="list-inline list-unstyled">
                    <li class="blue ch_bttn add"><input type='checkbox' name='thing' value='<%=request.id%>' id="add<%=request.id%>" class="chbx"/><label for="add<%=request.id%>">Add</label> </li>
                  </ul>
                 <%else%>
                   <ul class="list-inline list-unstyled">
                    <a href="/request_assignments/<%=request.request_assignment.id%>/edit">  
                      <li class="fa-stack">
                        <i class="fa fa-square fa-stack-2x site-color"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                      </li>
                    </a>

                   <a href="/request_assignments/<%=request.request_assignment.id%>/approve">  
                     <li class="fa-stack">
                        <i class="fa fa-square fa-stack-2x site-color"></i>
                        <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                     </li>
                   </a>
                  </ul> 
                <%end%>               
            </td>
          </tr>
        <%end%>

        </tbody>
      </table>
    </div>    
  </div>

</div>
 <div class="col-md-1">
              <%= submit_tag "Assign",:class => "btn btn-success " ,:id => "submit-assignment"%>      
      </div>
 <%=will_paginate @requests%>   
</div>
     
</div>

                        </div>
                        
                        
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
              
            </div>
          </div>
           
        </div>

<script type="text/javascript">
    var value = []
      $('#selectAll').click(function() {
       
      if(this.checked == true){
         $(':checkbox').each(function(i){
          value[i] = $(this).val();
              
         });
      value = value.splice(1,value.length);
      $('#request_id').val(value);
      } 
   if (this.checked) {
       
       $(':checkbox').each(function() {
           this.checked = true;                        
       });
   } else {
      $(':checkbox').each(function() {
           this.checked = false; 
           value = []
           $('#request_id').val('');                      
       });
   } 

});

  $('.chbx').click(function(){
    val = this.value
    if(this.checked){
         value.push(val)
    }else{
      value.splice(value.indexOf(val),1)
      $('#selectAll').prop('checked', false);
    };
 
  });    
   


  $("#submit-assignment").click(function(){

    var vendor_id = $( "select#vendor_id option:selected").val();
    var assigned_by = $("#assigned_by").val();
    var priority = $("select#priority option:selected").val();
     if(vendor_id == 'undefined' || vendor_id == null || vendor_id == ""){
      alert("Please select a vendor!")
    }else if(priority == null || priority == 'undefined' || priority == ""){
      alert("Please select priority for selected request")

    }else if(value.length == 0){
      alert("Please select a request to assign!")
    }
    else{
      $.ajax({
        url: "/request_assignments/mass_assignment",
        type: "POST",
        data: {
              request_assignment : {
              user_id : vendor_id,
              request_id : value,
              user_type : 'vendor',
              assigned_by : assigned_by,
              admin_type : 'vendor_allocator',
              priority : priority          
            }
        },
        dataType: 'text',

        complete: function(){

        },
        success: function(data){
         alert("Successfully assigned!")
         location.reload()
        },
        error: function(){
          alert("Please try again!")
        }
       });
    }
       
   }); 
    
   
   
</script>
 
 <script>
  $("#unassigned").click(function(){
      var from = getUrlVars()["from"]; 
      var to = getUrlVars()["to"]; 
      var request_type = getUrlVars()["request_type"];var states = getUrlVars()["states"]; 

      if(from == 'undefined' || from == null || to == 'undefined' || to == null) {
        if(request_type == null || request_type == 'undefined' || states == null || states == 'undefined'){
          location.href="/request_assignments/new?is_rrm=false"
        }else{
          location.href="/request_assignments/new?states="+states+"&request_type="+request_type+"&is_rrm=false"
        }
         
      }else{
        location.href="/request_assignments/new?from="+from+"&to="+to+"&states="+states+"&request_type="+request_type+"&is_rrm=false"  
      }
  });
  $("#assigned").click(function(){
      var from = getUrlVars()["from"]; 
      var to = getUrlVars()["to"]; 
      var request_type = getUrlVars()["request_type"];
      var states = getUrlVars()["states"]; 

      if(from == 'undefined' || from == null || to == 'undefined' || to == null) {
        if(request_type == null || request_type == 'undefined' || states == null || states == 'undefined'){
          location.href="/request_assignments/new?is_rrm=true"
        }else{
          location.href="/request_assignments/new?states="+states+"&request_type="+request_type+"&is_rrm=true" 
        }
      }     
      else{
        if(request_type == null || request_type == 'undefined' || states == null || states == 'undefined'){
          location.href="/request_assignments/new?from="+from+"&to="+to+"&states="+states+"&is_rrm=true" 
        }else{
          location.href="/request_assignments/new?from="+from+"&to="+to+"&states="+states+"&request_type="+request_type+"&is_rrm=true" 
        }
         
      }
  });
 </script>