<div id="nav-col-submenu"></div>
  </div>
 
<div id="content-wrapper">
   <%= render 'shared/notice_messages'%>
                
  <div class="row">
     <div class="col-lg-12">
        <div class="main-box-body clearfix">
              
            <div class="main-box clearfix">
            <div class="clearfix">
              <div class="common_page user">
              <div class="user_tab">
              <div class="row">
                <div class="col-md-2">
                  <h4>Assignments</h4>
                </div>
               
               
                 
                  
              </div>
              </div>
            
                 
                <div id='content' class="tab-content">
                <div class="row">
<div class="col-lg-12">
<div class="main-box no-header clearfix">
  <div class="main-box-body clearfix">
    <div class="table-responsive">
         <table class="mr_btm1">
          <tr><td>
            <%=select_tag :vendor_id,options_for_select(User.users_data('vendor'),@request_assignment.user_id),:prompt => '--------select vendor--------',:class => "vendor-assignment form-control custm_select",:required => "required"%>
          </td>
          <td width="2%"></td>
          <td width="200px;">
            <%=select_tag :priority,options_for_select(PRIORITY,@request_assignment.priority),:prompt => '--------select priority--------',:required => "required",:class => 'priority form-control custm_select'%>
          </td>
          <%=hidden_field_tag :assigned_by,current_user.id%>
        </tr>
        </table>	


      <table class="table user-list table-hover">
        <thead>
          <tr>
            <th><span>Request Id</span></th>
            <th><span>Request Type</span></th>
             <th class="text-center"><span>RT Code</span></th>
            <th><span>Shop Name</span></th>
            <th class="text-center"><span>City</span></th>
            <th><span>State</span></th>
            <th><span>RRM<span></th>
            <th><span>Vendor<span></th>
             <th><span>Status</span></th>
            <th><span>Assigned On</span></th>
                   
          </tr>
        </thead>
        <tbody>
          
         
      
        
     
                  
          <tr>
            <td>              
              <a href="/requests/<%=@request_assignment.request.id%>/edit?q[request_type]=<%=@request_assignment.request.request_type%>"> <%=@request_assignment.request_id%></a>       
            </td>
             
            <td>
              <%=@request_assignment.request.request_type.upcase if @request_assignment.request.request_type != nil%>  
            </td>
          
            <td>
               <%=@request_assignment.request.retailer_code.upcase%>  
            </td>
            <td>
              <%=Retailer.retailer_data(@request_assignment.request.retailer_code,"name")%> 
            </td>
            <td>
               <%=Retailer.retailer_data(@request_assignment.request.retailer_code,"city")%>    
            </td>
            <td>
               <%=Retailer.retailer_data(@request_assignment.request.retailer_code,"state")%> 
            </td>
            <td>
          <%req = @request_assignment.request.request_activities.find_by(request_id: @request_assignment.request_id,request_status: 'approved',user_type: ['RRM','HO']);

             %>
             <%=req.user.name if req != nil%>
            </td>
            <td><%=@request_assignment.user.name%></td>
           <td>
              <%=@request_assignment.current_stage.upcase if @request_assignment.current_stage != nil%>
            </td>
             <td class="text-center">
              <span class="label label-default"><%=@request_assignment.assign_date.strftime("%d %b,%Y") if @request_assignment.assign_date != nil%></span>
            </td>
          </tr>
                 
            </tbody>
      </table>
    </div>
  </div>
</div>
<div class="col-md-1">
              <%= submit_tag "Update",:class => "btn btn-success " ,:id => "update-assignment"%>      
      </div>
</div>
</div>    


</div>


</div>
</div>
</div>
</div>
</div>
<script>
	$("#update-assignment").click(function(){

    var vendor_id = $( "select#vendor_id option:selected").val();
    var priority = $("select#priority option:selected").val();
     if(vendor_id == '' || vendor_id == null){
      alert("Please select a vendor!")
     }else if(priority == '' || priority == null){
     	alert("Please select priority!")
     }
     else{
      $.ajax({
        url: "/request_assignments/<%=@request_assignment.id%>",
        type: "PATCH",
        data: {
              request_assignment : {
              vendor_id : vendor_id,
              assignment_id : "<%=@request_assignment.id%>",
              priority : priority
            }
        },
        dataType: 'text',

        complete: function(){

        },
        success: function(data){
          result = JSON.parse(data)
          if(result == true){
            location.href='/request_assignments/new'
          }else{
            alert("something went wrong!")
          }
         
        },
        error: function(){
          alert("Please try again!")
        }
       });
    }
       
   }); 
  $('#vendorAssignments').attr("class","active")
</script>
       
