<div id="nav-col-submenu"></div>

</div>


<div id="content-wrapper">
  <%= render :partial => "shared/error_messages", :locals => { :errors => @user.errors } %>

  <div class="row">
    <div class="col-lg-12">
    <div class="main-box clearfix">
    <div class="clearfix">
      <div class="user_page">
      <h2>Add New Cmo</h2>
      
        <%= form_for @user do |f| %>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-3">Name</label>
                <div class="col-md-9">
                <%= f.text_field :name,:required => "required",class: "form-control",placeholder: "name" %>
                  
                </div>
              </div>
            </div>
             <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-3">Phone</label>
                <div class="col-md-9">
                <%= f.phone_field :phone,:required => "required",class: "form-control",placeholder: "phone"  %>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- left part of form end --> 
            <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-3">Email</label>
                <div class="col-md-9">
               <%= f.email_field :email,:required => "required",class: "form-control",placeholder: "email" %>
                  
                </div>
              </div>
            </div>
               <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-3">Status</label>
                <div class="col-md-9">
  

  <%= f.select :status, RETAILER_STATUS,{:prompt => "Select user status"},:class => 'form-control custm_select',:required => "required" %>
                </div>
              </div>
            </div>
         </div>

           <div class="row">
            <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-3">Password</label>
                <div class="col-md-9">
               <%= f.password_field :password,:placeholder => "Enter new password",:required => "required",class: "form-control",placeholder: "password",:autocomplete => :off %>
                  
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-4">Password confirmation</label>
                <div class="col-md-9">
<%= f.password_field :password_confirmation,:placeholder => "Confirm new password",:required => "required",class: "form-control",placeholder: "confirm password",:autocomplete => :off %>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-3">Role</label>
                <div class="col-md-9">
<%= f.select :role_ids, User.acceptable_role(User.user_role(current_user.id)).select {|arr| arr[0].capitalize!},{:prompt => "Select user role"},:class => 'form-control custm_select',:required => "required",:multiple => true %>
                  
                </div>
              </div>
            </div>
         
                <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-3">State</label>
                <div class="col-md-9">
 <%= f.select :state_ids, State.permit_state(current_user),{:prompt => "Select state"},:required => "required" ,:class => 'form-control custm_select',  :multiple => true,:id=>'state_ids_'  %>
                </div>
              </div>
            </div>
          </div>
         
            <!-- <div class="col-md-12">
              <div class="checkbox-nice">
                <input type="checkbox" id="remember-me2" checked="checked">
                <label for="remember-me2">
                  Do you want send your password on email when submit ?
                </label>
              </div>  
            </div> -->
            <div class="col-md-12">
               <%= f.submit "Submit",:class => "btn btn-success rrm_frm_btn" %>
              
            </div>
          </div>
        <% end %>
      

        </div>
      </div>
      </div>
    </div>
  </div>

</div>
      
