<%= form_for @user, :html => { :class => 'user-form' } do |f| %>
  
  <h4 id="form-title"><%= form_title %></h4>

  <%= render :partial => "shared/error_messages", :locals => { :errors => @user.errors } %>
  
  <div class="form-field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="form-field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="form-field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  
  <% if can? :update, :roles %>
    <div class="form-field">
      <%= f.label :role_ids %>
      <%= f.select :role_ids, Role.pluck(:name, :id), {}, { :multiple => true } %>
    </div>
  <% else %>
    <div class="form-field">
      <span class="field-name">Role</span>
      <span class="field-value"><%= current_user.roles.pluck(:name).join(', ') %></span>
    </div>
  <% end %>

  <% if can? :update, :departments %>
    <div class="form-field">
      <%= f.label :department_ids, "Department" %>
      <%= f.select :department_ids, Department.pluck(:name, :id), :include_blank => true %>
    </div>
  <% else %>
    <div class="form-field">
      <span class="field-name">Department</span>
      <span class="field-value"><%= current_user.departments.map(&:name).join(', ') %></span>
    </div>
  <% end %>

  <% if can? :update, :regions %>
    <div class="form-field">
      <%= f.label :region_ids, "Regions" %>
      <%= f.select :region_ids, Region.pluck(:name, :id), {}, { :multiple => true } %>
    </div>
  <% else %>
    <div class="form-field">
      <span class="field-name">Regions</span>
      <span class="field-value"><%= current_user.regions.map(&:name).join(', ') %></span>
    </div>
  <% end %>

  <% if can? :update, :business_units %>
    <div class="form-field">
      <%= f.label :business_unit_ids, "Business Units" %>
      <%= f.select :business_unit_ids, BusinessUnit.pluck(:name, :id), {}, { :multiple => true } %>
    </div>
  <% else %>
    <div class="form-field">
      <span class="field-name">Business Units</span>
      <span class="field-value"><%= current_user.business_units.map(&:name).join(', ') %></span>
    </div>
  <% end %>
  
  <% if can? :update, :job_titles %>
    <div class="form-field">
      <%= f.label :job_title_ids, "Job Titles" %>
      <%= f.select :job_title_ids, JobTitle.pluck(:title, :id), {}, { :multiple => true } %>
    </div>
  <% else %>
    <div class="form-field">
      <span class="field-name">Job Titles</span>
      <span class="field-value"><%= current_user.job_titles.map(&:title).join(', ') %></span>
    </div>
  <% end %>
  
  <% if can? :update, :weekly_offs %>
    <div class="form-field">
      <%= f.label :weekly_off_ids, "Weekly Offs" %>
      <%= f.select :weekly_off_ids, WeeklyOff.all.map { |w| [w.day, w.id] }, {}, { :multiple => true } %>
    </div>
  <% else %>
    <div class="form-field">
      <span class="field-name">Weekly Offs</span>
      <span class="field-value"><%= current_user.weekly_offs.map(&:day).join(', ') %></span>
    </div>
  <% end %>

  <%= f.submit %>
<% end %>