<%= form_for @user, :html => { :class => 'user-form' } do |f| %>
  
  <h4 id="form-title"><%= form_title %></h4>

  <%= render :partial => "shared/error_messages", :locals => { :errors => @user.errors } %>
  
  <div class="form-field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="form-field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="form-field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  
  <% if can? :update, :roles %>
    <div class="form-field">
      <%= f.label :roles %>
      <%= f.select :roles, User.valid_roles, {}, { :multiple => true } %>
    </div>
  <% else %>
    <div class="form-field">
      <span class="field-name">Role</span>
      <span class="field-value"><%= current_user.role_symbols.join(',') %></span>
    </div>
  <% end %>

  <%= f.submit %>
<% end %>