<div id="nav-col-submenu"></div>
  </div>
 
<div id="content-wrapper">
   <%= render 'shared/notice_messages'%>
                
  <div class="row">
     <div class="col-lg-12">
        <div class="main-box-body clearfix">
            <div class="row">

            
            <%if User.permit_role(User.user_role(current_user.id)).include? 'rrm'%>     
              <div class="col-md-3">
                <div class="add_new_notfcn">
                  <h4><i class="fa fa-plus-square fa-lg"></i><span>
                  <%= link_to "Add RRM","/users/new?user=rrm" %>
                  </span></h4>
                </div>
              </div>
            <%end%>  

            <%if User.permit_role(User.user_role(current_user.id)).include? 'cmo'%>  
              <div class="col-md-3">
                <div class="add_new_notfcn">
                  <h4><i class="fa fa-plus-square fa-lg"></i>
                    <span>
                       <%= link_to "Add CMO","/users/new?user=cmo" %>
                     </span>
                  </h4>
                </div>
              </div>
            <%end%>

            <%if User.permit_role(User.user_role(current_user.id)).include? 'vmqa'%>  
              <div class="col-md-3">
                <div class="add_new_notfcn">
                  <h4><i class="fa fa-plus-square fa-lg"></i>
                    <span>
                       <%= link_to "Add VMQA","/users/new?user=vmqa" %>
                     </span>
                  </h4>
                </div>
              </div>
            <%end%> 

            <%if User.permit_role(User.user_role(current_user.id)).include? 'supervisor'%>  
              <div class="col-md-3">
                <div class="add_new_notfcn">
                  <h4><i class="fa fa-plus-square fa-lg"></i>
                    <span>
                       <%= link_to "Add Supervisor","/users/new?user=supervisor" %>
                     </span>
                  </h4>
                </div>
              </div>
            <%end%>     
               
              
            <%if User.permit_role(User.user_role(current_user.id)).include? 'auditor'%>
              <div class="col-md-3">
                <div class="add_new_notfcn">
                  <h4><i class="fa fa-plus-square fa-lg"></i><span>
                  <%= link_to "Add Auditor","/users/new?user=auditor" %>
                  </span></h4>
                </div>
              </div>
            <%end%>
              
            <%if User.permit_role(User.user_role(current_user.id)).include? 'requester'%>
              <div class="col-md-3">
                <div class="add_new_notfcn">
                  <h4><i class="fa fa-plus-square fa-lg"></i>
                    <span>
                      <%= link_to "Add Requester","/users/new?user=requester" %>
                    </span></h4>
                </div>
              </div>
            <%end%>  



            </div>
            </div>
          </div>
        </div>

  <div class="row">
    <div class="col-lg-12">
        <div class="main-box clearfix">
          <div class="clearfix">
              <div class="common_page user">
              <div class="user_tab">
              <div class="row">
                <div class="col-md-1">
                  <h4>User</h4>
                </div>
                <div class="col-md-7">
                <ul class="list-inline list-unstyled" id="myTab">

              <%= collection_check_boxes( 'search', '',User.permit_role(User.user_role(current_user.id)),:to_s,:to_s,{checked: @search},:class=> 'search') if User.user_role(current_user.id).name == 'approver' || 'superadmin' %> 
                </ul>

                </div>
                
                <div class="col-md-4">

                  <%=form_tag @user ,:method => 'get' do |f| %>  
                    <div id="user-search-div" class="form-field">
                       <div class="user-search-field">
                         <%= text_field_tag :email, params[:email], :id => "retailer-search",:required => "required",:placeholder => "Enter email id",:class => 'search_email' %>
                      </div>
                      <div>
                        <% if params[:email] == nil %>
                           <%= button_tag(type: 'submit',value: 'search',:class=>"hide-button") do %>
                             <i class="fa fa-search search-icon"></i> 
                           <% end %>

                        <% else %>

                            <%= button_tag(type: 'submit',value: 'search',:class=>"clear-button") do %>
                             <a href="/users"><i class="fa fa-times-circle-o"></i></a> 
                            <% end %>
                        <% end %>
                      </div> 
                    <div class="error" id="message"></div>
               
                  </div>
      <%end%>   

                </div>
              </div>
              </div>

                <div id='content' class="tab-content" >
               <% @users.each do |user| %>
              
                    <div class="tab-pane active" id="all">
                      <div class="row">
                          <div class="col-md-7">

                            <p> <span class="blue">  <%= user.name %> </span>
                             
                              <span class="role_of_user"> <% @roles = User.user_roles(user.id)%>
                         <%= @roles.join(',') %>
                       </span> 

                       </p>
                            <p><i class="fa fa-envelope" aria-hidden="true"></i>
                              <%= user.email %> | <i class="<%='fa fa-phone' if user.phone != nil%>" aria-hidden="true"></i>
                            <%= user.phone 
                             %></p>
                          </div>

                          <div class="col-md-5">
                              <ul class="list-inline list-unstyled">
                              <li class="blue"><i class="fa fa-lock"></i><span>
        
              <a href="/users/reset_password?token=<%=user.reset_password_token%>">Reset Password</a>
            </span></li>
                                <li class="blue">
                                  <i class="fa fa-pencil"></i>
                                  
                                  <% if can? :manage, User %>
                                    <span>
                                      <%= link_to "Edit", [:edit, user] %>
                                    </span>
                                  <%end%>

                                </li>
                              <li class="blue">
                              <span>
                                <%if User.permit_role(User.user_role(current_user.id)).include? 'vmqa'%>
                                  <i class="fa fa-file-text-o" aria-hidden="true"></i>


                                  <span>
                                  <%= link_to "Assignments",shop_assignments_path %>

                                  </span>
                                <%else%>
                                <%= link_to "/users/change_status?id=#{user.id.to_s}",data: { confirm: 'Are you sure?' }  do %>
                                  <% if user.status == "Active" %>
                                    <i class="fa fa-eye"></i> Status Change
                                  <% else %>
                                   <i class="fa fa-eye-slash"></i> Status Change 
                                  <% end %>
                                <% end %>
                                <%end%>
                              </span>
                            </li>

                                  <li class="blue">
                                  <i class="fa fa-hand-o-right"></i>

                                  <span>
                                  <%= link_to "Show",user_path(user.id) %>

                                  </span>
                                </li>
                                <p>
                                  <li class="blue">
                                  <span id="user_status">
                                    <label class=' <%=user.status == 'Active' ? "user-of-status" : "user-of-status1" %>'>
                                      <%= user.status %>
                                     
                                      </label>
                                  </span>
                                </li>
                              </p>
                             

                              </ul>
                          </div>
                        </div>
                    </div>

              <% end %>
              <%= will_paginate @users %>
                </div>

                </div>
              </div>
              </div>
            </div>
          </div>
   
        </div>

  <%= render 'page_js/user_search'%>
<script type="text/javascript">
  $('#user').attr("class",'active')
</script>   