       <div id="nav-col-submenu"></div>
      </div>
 
        <div id="content-wrapper">
       

  <div class="row">
    <div class="col-lg-12">
        <div class=" clearfix">
          
              <div id="login-box">
          <%= render :partial => "shared/error_messages", :locals => { :errors => @user.errors } %>
          <div id="login-box-holder">

            <div class="row">
              <div class="col-xs-12">
                <header id="login-header">
                  <div id="login-logo">
                    <img src="/assets/logo_gionee.png" alt= ""/>
                  </div>
                </header>
          <div id="login-box-inner">
        <%= form_for :users_reset_password_path  do |f| %>
          
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <%= f.password_field :password,class: "form-control",placeholder: "New Password",:required=>'required' %>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-key"></i></span>
          <%= f.password_field :password_confirmation,class: "form-control",placeholder: "Confirm Password",:required=>'required' %>
                    </div>

           <%= f.hidden_field :token ,value: if params[:token] != nil then params[:token] else @token end%>
                    
                    <div class="row">
                      <div class="col-xs-12">
          <%= f.submit "Reset Password",class: "btn btn-success col-xs-12" %> 
                      
                      </div>
                    </div>
          
                  <% end %>
          </div>

        </div>
      </div>
    </div>
            
            

        </div>

             
              </div>
            </div>
          </div>
   
        </div>

  <%= render 'page_js/user_search'%>