<%= render :partial => 'data_files/absolute_path' %>

<%= link_to "New Document", new_document_path(:parent_id => params[:parent_id]), :id => 'new-button' %>

<%= link_to "New Folder", new_folder_path(:parent_id => params[:parent_id]), :id => 'new-button' %>

<table class="ui table">
  <tbody>
    <% @data_files.each do |file| %>
      <tr>

        <td>
          <% if file.is_a? Folder %>
            <%= link_to file.name, data_files_path(:parent_id => file.id) %>
          <% else %>
            <%= link_to file.name, file %>
          <% end %>
        </td>

        <td>
          <%= link_to "Show Details", "javascript:void(0);", :class => 'show-details' %>
          <%= render :partial => 'details', :locals => { :file => file } %>
        </td>

        <% if can? :manage, file %>
          <td>
            <%= link_to "Edit", [:edit, file] %>
          </td>

          <td>
            <%= link_to "Delete", [file], method: :delete, data: { confirm: "Are you sure?" } %>
          </td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>