<% if logged_in? && can?(:manage, Organization) %>
  <div class="organization-nav-container">
    <div class="nav-link"><%= link_to "HeadQuarter Address", edit_hq_addresses_path %></div>
    <div class="nav-link"><%= link_to "Job Titles", job_titles_path %></div>
    <div class="nav-link"><%= link_to "Branch Offices", addresses_path %></div>
    <div class="nav-link"><%= link_to "Departments", departments_path %></div>
    <div class="nav-link"><%= link_to "Regions", regions_path %></div>
    <div class="nav-link"><%= link_to "Business Units", business_units_path %></div>
    <div class="nav-link"><%= link_to "Weekly Offs", weekly_offs_path %></div>
    <div class="nav-link"><%= link_to "Items", items_path %></div>
    <div class="nav-link"><%= link_to "Cities", cities_path %></div>
    <div class="nav-link"><%= link_to "Item Regions", item_regions_path %></div>
    <div class="nav-link"><%= link_to "Categories", categories_path %></div>
    <div class="nav-link"><%= link_to "Collections", collections_path %></div>
    <div class="nav-link"><%= link_to "Sizes", sizes_path %></div>
    <div class="nav-link"><%= link_to "Alcohol Percents", alcohol_percents_path %></div>
    <div class="nav-link"><%= link_to "Warehouses", warehouses_path %></div>
    <div class="nav-link"><%= link_to "Screens", screens_path %></div>
    <div class="nav-link"><%= link_to "Fields", fields_path %></div>
  </div>
<% end %>