<section class="comments_sectn">
	<div class="row">	
		<div class="col-lg-12">
			<div class="main-box clearfix">
				<div class="clearfix">
					<div class="common_page gsb_page">
						<h2>Deployment Requirement Details</h2>
						<div class="comments_blk">
							 
							
							<div class="row">
								<div class="col-md-3">
									Flange delivered to store?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.flange_delivered)%>
									</div>
								</div>
								<div class="col-md-2">
									Number
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.no_of_flange%>
									</div>
								</div>
								<div class="col-md-2">
									Installed?
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=to_bool(@request.shop_audit.flange_installation)%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									LIT Standee delivered to store?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.lit_standee_delivered)%>
									</div>
								</div>
								<div class="col-md-2">
									Number
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.no_of_lit_standee%>
									</div>
								</div>
								<div class="col-md-2">
									Installed?
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=to_bool(@request.shop_audit.lit_standee_installation)%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									Leaflets delivered to store?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.leaflet_delivered)%>
									</div>
								</div>
								<div class="col-md-2">
									Number
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.no_of_leaflet%>
									</div>
								</div>
								<div class="col-md-2">
									Installed?
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=to_bool(@request.shop_audit.leaflet_installation)%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									Brochure delivered to store?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.brochure_delivered)%>
									</div>
								</div>
								<div class="col-md-2">
									Number
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.no_of_brochure%>
									</div>
								</div>
								<div class="col-md-2">
									Installed?
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=to_bool(@request.shop_audit.brochure_installation)%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									Dangler delivered to store?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.dangler_delivered)%>
									</div>
								</div>
								<div class="col-md-2">
									Number
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.no_of_dangler%>
									</div>
								</div>
								<div class="col-md-2">
									Installed?
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=to_bool(@request.shop_audit.dangler_installation)%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									Shelfstrip delivered to store?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.shelf_strip_delivered)%>
									</div>
								</div>
								<div class="col-md-2">
									Number
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.no_of_shelf_strip%>
									</div>
								</div>
								<div class="col-md-2">
									Installed?
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=to_bool(@request.shop_audit.shelf_strip_installation)%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									Sticker delivered to store?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.sticker_delivered)%>
									</div>
								</div>
								<div class="col-md-2">
									Number
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.no_of_sticker%>
									</div>
								</div>
								<div class="col-md-2">
									Installed?
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=to_bool(@request.shop_audit.sticker_installation)%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									Poster delivered to store?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.poster_delivered)%>
									</div>
								</div>
								<div class="col-md-2">
									Number
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.no_of_poster%>
									</div>
								</div>
								<div class="col-md-2">
									Installed?
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=to_bool(@request.shop_audit.poster_installation)%>
									</div>
								</div>
							</div>
							   
							
							<div class="row">
								<div class="col-md-3">
									Demo delivered to store?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.demo_delivered)%>
									</div>
								</div>
								<div class="col-md-2">
									Number
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.no_of_demo%>
									</div>
								</div>
								<div class="col-md-2">
									Installed?
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=to_bool(@request.shop_audit.demo_installation)%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									Dummy delivered to store?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.dummy_delivered)%>
									</div>
								</div>
								<div class="col-md-2">
									Number
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.no_of_dummy%>
									</div>
								</div>
								<div class="col-md-2">
									Installed?
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=to_bool(@request.shop_audit.dummy_installation)%>
									</div>
								</div>
							</div>
							 

							<div class="row">
								<div class="col-md-3">
									Spec card delivered to store?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.spec_card_delivered)%>
									</div>
								</div>
								<div class="col-md-2">
									Number
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.no_of_spec_card%> 
									</div>
								</div>
								<div class="col-md-2">
									Installed?
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=to_bool(@request.shop_audit.spec_card_installation)%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									Cable delivered to store?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.cables_delivered)%>
									</div>
								</div>
								<div class="col-md-2">
									Number
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.no_of_cables%>
									</div>
								</div>
								<div class="col-md-2">
									Installed?
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=to_bool(@request.shop_audit.cables_installation)%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									Pods delivered to store?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.pods_delivered)%>
									</div>
								</div>
								<div class="col-md-2">
									Number
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.no_of_pods%>
									</div>
								</div>
								<div class="col-md-2">
									Installed?
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=to_bool(@request.shop_audit.pods_installation)%>
									</div>
								</div>
							</div>
							 

							<div class="row">
								<div class="col-md-3">
									Security system delivered to store?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.security_system_delivered)%>
									</div>
								</div>
								<div class="col-md-2">
									Number
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.no_of_security_system%>
									</div>
								</div>
								<div class="col-md-2">
									Installed?
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=to_bool(@request.shop_audit.security_system_installation)%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									Countertop delivered to store?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.countertop_delivered)%>
									</div>
								</div>
								<div class="col-md-2">
									Number
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.no_of_countertop%>
									</div>
								</div>
								<div class="col-md-2">
									Installed?
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=to_bool(@request.shop_audit.countertop_installation)%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									Gift items delivered to store?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.gift_item_delivered)%>
									</div>
								</div>
								<div class="col-md-2">
									Number
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.no_of_gift_item%>
									</div>
								</div>
								<div class="col-md-2">
									Installed?
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=to_bool(@request.shop_audit.gift_item_installation)%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									Tshirt delivered to store?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.tshirt_delivered)%>
									</div>
								</div>
								<div class="col-md-2">
									Number
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.no_of_tshirt%>
									</div>
								</div>
								<div class="col-md-2">
									Weared?
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=to_bool(@request.shop_audit.tshirt_installation)%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									Rollup Standee delivered to store?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.rollupstandee_delivered)%>
									</div>
								</div>
								<div class="col-md-2">
									Number
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.no_of_rollupstandee%>
									</div>
								</div>
								<div class="col-md-2">
									Installed?
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=to_bool(@request.shop_audit.rollupstandee_installation)%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									Clipon delivered to store?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.clipon_delivered)%>
									</div>
								</div>
								<div class="col-md-2">
									Number
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.no_of_clipon%>
									</div>
								</div>
								<div class="col-md-2">
									Installed?
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=to_bool(@request.shop_audit.clipon_installation)%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									Cubes delivered to store?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.cubes_delivered)%>
									</div>
								</div>
								<div class="col-md-2">
									Number
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.no_of_cubes%>
									</div>
								</div>
								<div class="col-md-2">
									Installed?
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=to_bool(@request.shop_audit.cubes_installation)%>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-3">
									Balloons delivered to store?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.balloons_delivered)%>
									</div>
								</div>
								<div class="col-md-2">
									Number
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.no_of_balloons%>
									</div>
								</div>
								<div class="col-md-2">
									Installed?
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=to_bool(@request.shop_audit.balloons_installation)%>
									</div>
								</div>
							</div>
							 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>	