<div id="nav-col-submenu"></div>
</div>
<div id="content-wrapper">
<div class="row">
<div class="col-lg-12">
<div class="main-box clearfix">
<div class="clearfix">
	<div class="common_page gsb1">
		<div class="hdr">
	   		<div class="row">
	    		<div class="col-md-2">
					<div class="txt"><%=REQ_TYPE[params[:q][:request_type].to_i].upcase %>
					</div>
				</div>
				<div class="col-md-3">
					<%= select_tag :state_request, options_for_select(['All']+State.permit_state(current_user)),:class => 'form-control custm_select',:required => "required",:onchange => "state_request()" %>
					
				</div>
				<div class="col-md-5 col-md-offset-1">
					<div class="row">
						<div class="col-md-6">
							<div class="row">
							<label class="col-md-3">From</label>
							<div class="col-md-8">
								<%= date_field_tag("date_from","",:class => "form-control") %> 		
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<label class="col-md-2">To</label>
							<div class="col-md-9">
								<%= date_field_tag("date_to","",:class => "form-control") %> 		
							</div>
						</div>
					</div>
				</div>

				</div>
				<div class="col-md-1" style="padding:0px;">
						<%= button_tag class: 'request_search_button' do %>
					<i class="fa fa-search search-icon"></i>
					<% end %>
				</div>
			</div>	
			<div class="row" style="margin-top:8px;">
					
				<div class="">
					<label class="col-md-offset-5 col-md-4"></label>
					<div class="col-md-3">	<div class="col-md-8 custm_dpdn">
					<%= select_tag :state_request, options_for_select(Retailer.state_retailers(params[:state])),:class => 'form-control custm_select',prompt: 'Select shop',:required => "required",:onchange => "state_retailer()",:id => "state_retailer" %>
																			

					</div>
				</div>
			</div>
		</div>
	</div>


<div id='content' class="tab-content">
	
<%@requests.each do |request|%>

	<div class="tab-pane active" id="all">
		<%= link_to "/requests/#{request.id}/edit?q[request_type]=4" do %>
		<div class="row bdr_bttm">
			<div class="col-md-1">
				<div class="gsb1_img_blk">
					<% request.images.first(1).each do |image| %>
	                  <%= image_tag image.image_url %>
             		<% end %>
				</div>
			</div>
			<div class="col-md-7">
				<div class="txt_area">
					<ul class="list-inline list-unstyled">
						<li><%=request.retailer_code%><li class="blue">Supervisor Name</li>
						 
					</ul>
					<ul class="list-inline list-unstyled">
						<li>
							<%= Retailer.retailer_data(request.retailer_code,'name')%>  
						</li>
					</ul>
					<ul class="list-inline list-unstyled">
						<li>
						<%= Retailer.retailer_data(request.retailer_code,'address')%>,

					 	<%= Retailer.retailer_data(request.retailer_code,'city')%> ,
					 	<%= Retailer.retailer_data(request.retailer_code,'state')%>
					 	</li> 
					</ul> 
				</div>
			</div>
			<div class="col-md-4">
				<div class="date_cmopendng">
					<h5><b>Audit Date -</b> <%=request.created_at.strftime("%b %d, %Y")%></h5>
					<h5><b>Audit by -</b> <%=request.shop_visit_done_by%><%=%></h5>
				</div>
			</div>
		</div>
	<%end%>	
	</div>
	<%end%>
</div>
							
<div class="response-pagination clearfix">
      <%= will_paginate @requests %>
</div>
								
</div>
</div>
</div>
</div>
</div>

<%=render partial: 'page_js/request_index'%>
<%=render partial: 'page_js/menubar'%>
