<div class="competition_details_page page hidden">
   

  <div class="request-field">
    <%= f.text_area :remarks, :placeholder => "Comment" %>
  </div>

  <%= field_set_tag "Images" do %>
    <%= link_to "Add Image", new_image_path(:imageable_type => "request"), :remote => true %>
    <div class="images">
      <% @request.images.each do |image| %>
        <%= render :partial => 'images/image', :locals => { :image => image } %>
      <% end %>
    </div>
  <% end %>

  <%= f.submit :class => "submitt_btn" %>

  
</div>