<div class="clearfix requestor_details_page page hidden">

  <%= f.select :cmo_name, CMO_NAMES, { :prompt => "CMO Name" } , :class => "pd-detail required"%>
 

  <div class="input_txt">
    <%= f.text_field :retailer_code, :class => 'ajax-select required retailer_code', :error_container => '.input_txt', :placeholder => 'Retailer Code', 'data-ajax-url' => "/requests/autocomplete_retailer_code", 'data-multiple' => false, 'data-key' => 'retailer_codes', 'data-create_search_choice' => true, 'data-initvalue' => (@request.retailer_code? ? { text: @request.retailer_code, id: @request.retailer_code } : []).to_json %>
  </div>


  <%= f.text_field :rsp_name, :placeholder => "RSP name", :class => "input_tx required"%>


  <%= f.phone_field :rsp_mobile_number, :placeholder => "RSP Mobile Number", :class => "pd-detail required"%>



  <%= f.text_field :rsp_app_user_id, :placeholder => "RSP sales tag app user ID", :class => "input_txt required"%>

</div>