<div class="pd-detail">
  <%= f.select :cmo_name, CMO_NAMES %>
</div>

<div class="input_txt">
  <%= f.text_field :retailer_code %>
</div>

<div class="input_tx">
  <%= f.text_field :rsp_name %>
</div>

<%= f.phone_field :rsp_mobile_number %>

<%= f.text_field :rsp_app_user_id %>
