

<div class="request_wrap clearfix">
<div>SIS approve</div>
<div class="req_cont clearfix">

<div class="links_blc">
<div class="active"><%= link_to "SIS", requests_path(:q => { :status => 'pending' }) %></div>
<div><%= link_to "In-shop", requests_path(:q => { :status => 'declined' }) %></div>
<div><%= link_to "GSB", requests_path(:q => { :status => 'approved' }) %></div>
</div>
   
<div class="appr_info">
<div>Deepak Sharma</div>
<div>Dilshad garden</div>
</div>

<div class="appr_retail">
<div>Deepak Sharma</div>
<div>Dilshad garden</div>
</div>

<div class="appr_desc">
<div>Pashi ywulf</div>
<div>jygtwd</div>
</div>

</div>
<!-- req_cont-end -->

<div class="btn_blc">
<div clss="apprv_btn"><%= f.submit "Approve" %></div>
<div classs="decline_btn"><%= f.submit "Decline" %></div>
</div>
<!-- btn-blc-end -->
</div>
<!-- req-wrap-end -->

</div>