
<div id="nav-col-submenu"></div>
</div>
				
	<div id="content-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<div class="common_page gsb_page">
					<div class="clearfix"></div>
        <a href="<%=session[:prev_url]%>" id="back-button">  
          <i class="fa fa-arrow-circle-left back-icon" aria-hidden="true" ></i></a>
						<div class="row">
									
						<% if params[:q][:request_type] == '4'  %>
									<%= render 'requests/details/audit_details' %>
                    <%=render 'requests/details/shop_details'%>
                     
                    <%if @request.is_audit_done == true%>
                        <%if @request.shop_audit != nil%>
                          <%=render 'requests/details/photo'%>
                         <%=render 'requests/details/audit_form/sales_detail'%>
                         <%=render 'requests/details/branding_detail'%>
                         <%if @request.shop_audit.audit_type == 1%>
                          <%=render 'requests/details/audit_form/audit/gsb_detail'%>

                          <%=render 'requests/details/audit_form/audit/sis_detail'%>

                          <%=render 'requests/details/audit_form/audit/hard_posm_detail'%>

                          <%=render 'requests/details/audit_form/audit/soft_posm_detail'%>

                         <%elsif @request.shop_audit.audit_type == 2
                           %>

                           <%=render 'requests/details/audit_form/deployment/deployment_required_detail'%>

                           <%=render 'requests/details/audit_form/deployment/deployment_done_detail'%>

                         <%elsif @request.shop_audit.audit_type == 3
                           %>  

                           <%=render 'requests/details/audit_form/maintenance/maintenance_detail'%>

                         <%end%>  
                        <%else%>
                         <%=render 'requests/details/photo'%>
                         <%=render 'requests/details/sales'%>
                         <%=render 'requests/details/branding_detail'%>

                          <%= render 'requests/details/audit_overview'%>
          
                          <%= render 'requests/details/rsp_audit'%>
                        
                          <%= render 'requests/details/gsb_audit'%>

                          <%= render 'requests/details/sis_visit_details' %>

                          <%= render 'requests/details/clipon_details' %>
                        <%end%>  
                    <%else%>
                        <%=render 'requests/details/audit_not_done_reasons' %>
                    <%end%>
									<% else %>
									<%=render 'requests/details/request_details'%>
									<%=render 'requests/details/action'%> 
                  <%=render 'requests/details/shop_details'%><%=render 'requests/details/rsp_details'%> 
                  <%=render 'requests/details/sales'%>  
                  <%=render 'requests/details/branding_detail'%>
                  <%=render 'requests/details/photo'%>

                  <%=render 'requests/details/action_details' if @request.status != 'cmo_pending'%> 

                  <%=render 'requests/details/vendor_progress' if @request.request_assignment != nil%>  
						<% end %>
             
						</div>
					</div>
				</div>
		 
			
          

			   
    		
    		 

    		
    		
         
        
       
</div>
    		

			
<%=render partial: 'page_js/menubar'%>
<%=render partial: 'requests/details/vendor_assign'%>
