<section class="comments_sectn">
	<div class="row">	
		<div class="col-lg-12">
			<div class="main-box clearfix">
				<div class="clearfix">
					<div class="common_page gsb_page">
						<h2>Hard POSM Details</h2>
						<div class="comments_blk">
							<div class="row">
								<div class="col-md-2">
									Flange Present?
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=to_bool(@request.shop_audit.flange_avilable)%>
									</div>
								</div>
								<div class="col-md-1">
									Count
								</div>
								<div class="col-md-1">
									<div class="blue">
										<%=@request.shop_audit.no_of_flange%>	
									</div>
								</div>
								<div class="col-md-2">
									 
								</div>
								<div class="col-md-1">
									<div class="blue">
										 	
									</div>
								</div>
								<div class="col-md-2">
									Condition
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.flange_condition%>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-2">
									LIT Standee Present?
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=to_bool(@request.shop_audit.lit_standee_available)%>
									</div>
								</div>
								<div class="col-md-1">
									Count
								</div>
								<div class="col-md-1">
									<div class="blue">
										<%=@request.shop_audit.no_of_lit_standee%>	
									</div>
								</div>
								<div class="col-md-2">
									Models
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=@request.shop_audit.lit_standee_models%>
									</div>
								</div>
								<div class="col-md-2">
									Condition
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.flange_condition%>
									</div>
								</div>
							</div>
							 

							<div class="row">
								<div class="col-md-2">
									Clipon Present?
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=to_bool(@request.shop_audit.clipon_available)%>
									</div>
								</div>
								<div class="col-md-1">
									Count
								</div>
								<div class="col-md-1">
									<div class="blue">
										<%=@request.shop_audit.no_of_clipon%>	
									</div>
								</div>
								<div class="col-md-2">
									Models
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=@request.shop_audit.clipon_models%>
									</div>
								</div>
								<div class="col-md-2">
									Condition
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.clipon_condition%>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-2">
									Countertop Present?
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=to_bool(@request.shop_audit.countertop_available)%>
									</div>
								</div>
								<div class="col-md-1">
									Count
								</div>
								<div class="col-md-1">
									<div class="blue">
										<%=@request.shop_audit.no_of_countertop%>	
									</div>
								</div>
								<div class="col-md-2">
									Models
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=@request.shop_audit.countertop_models%>
									</div>
								</div>
								<div class="col-md-2">
									Condition
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.countertop_condition%>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-2">
									Demo Present?
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=to_bool(@request.shop_audit.demo_available)%>
									</div>
								</div>
								<div class="col-md-1">
									Count
								</div>
								<div class="col-md-1">
									<div class="blue">
										<%=to_bool(@request.shop_audit.no_of_demo)%>	
									</div>
								</div>
								<div class="col-md-2">
									Models
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=@request.shop_audit.demo_models%>
									</div>
								</div>
								<div class="col-md-2">
									Condition
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.demo_condition%>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-2">
									Dummy Present?
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=to_bool(@request.shop_audit.dummy_available)%>
									</div>
								</div>
								<div class="col-md-1">
									Count
								</div>
								<div class="col-md-1">
									<div class="blue">
										<%=@request.shop_audit.no_of_dummy%>	
									</div>
								</div>
								<div class="col-md-2">
									Models
								</div>
								<div class="col-md-1">
									<div class="blue">
									<%=@request.shop_audit.dummy_models%>
									</div>
								</div>
								<div class="col-md-2">
									Condition
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.dummy_condition%>
									</div>
								</div>
							</div>
						 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>	