<section class="comments_sectn">
	<div class="row">	
		<div class="col-lg-12">
			<div class="main-box clearfix">
				<div class="clearfix">
					<div class="common_page gsb_page">
						<h2>Soft POSM Details</h2>
						<div class="comments_blk">
							<div class="row">
								<div class="col-md-2">
									Range Broucher Present?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.range_brochure_avilable)%>
									</div>
								</div>
								<div class="col-md-2">
									Count
								</div>
								<div class="col-md-2">
									<div class="blue">
										<%=@request.shop_audit.no_of_range_brochure%>	
									</div>
								</div>
								<div class="col-md-2">
									Type
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.range_brochure_type%>
									</div>
								</div>
							</div>
							
							 
							<div class="row">
								<div class="col-md-2">
									Leaflets Present?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.leaflet_available)%>
									</div>
								</div>
								<div class="col-md-2">
									Count
								</div>
								<div class="col-md-2">
									<div class="blue">
										<%=@request.shop_audit.no_of_leaflet%>	
									</div>
								</div>
								<div class="col-md-2">
									Type
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.leaflet_type%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									Poster Present?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.poster_available)%>
									</div>
								</div>
								<div class="col-md-2">
									Count
								</div>
								<div class="col-md-2">
									<div class="blue">
										<%=@request.shop_audit.no_of_poster%>	
									</div>
								</div>
								<div class="col-md-2">
									Type
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.poster_type%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									Wall Branding Present?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.wall_branding_available)%>
									</div>
								</div>
								<div class="col-md-2">
									Count
								</div>
								<div class="col-md-2">
									<div class="blue">
										<%=@request.shop_audit.no_of_wall_branding%>	
									</div>
								</div>
								<div class="col-md-2">
									Type
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.wall_branding_type%>
									</div>
								</div>
							</div> 
						 
						 	<div class="row">
								<div class="col-md-2">
									One Way Vision Present?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.one_way_vision_available)%>
									</div>
								</div>
								<div class="col-md-2">
									Count
								</div>
								<div class="col-md-2">
									<div class="blue">
										<%=@request.shop_audit.no_of_one_way_vision%>	
									</div>
								</div>
								<div class="col-md-2">
									Type
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.one_way_vision_type%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									Danglers Present?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.danglers_available)%>
									</div>
								</div>
								<div class="col-md-2">
									Count
								</div>
								<div class="col-md-2">
									<div class="blue">
										<%=@request.shop_audit.no_of_danglers%>	
									</div>
								</div>
								<div class="col-md-2">
									Type
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.danglers_type%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									Shelf Strips Present?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.shelf_strips_available)%>
									</div>
								</div>
								<div class="col-md-2">
									Count
								</div>
								<div class="col-md-2">
									<div class="blue">
										<%=@request.shop_audit.no_of_shelf_strips%>	
									</div>
								</div>
								<div class="col-md-2">
									Type
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.shelf_strips_type%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									Roll Up Standee Present?
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=to_bool(@request.shop_audit.roll_up_standee_available)%>
									</div>
								</div>
								<div class="col-md-2">
									Count
								</div>
								<div class="col-md-2">
									<div class="blue">
										<%=@request.shop_audit.no_of_roll_up_standee%>	
									</div>
								</div>
								<div class="col-md-2">
									Type
								</div>
								<div class="col-md-2">
									<div class="blue">
									<%=@request.shop_audit.roll_up_standee_type%>
									</div>
								</div>
							</div> 
						 
						 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>	