<%= form_for [@customer, @contact], :html => { :class => 'user-form' } do |f| %>

  <h4 id="form-title"><%= form_title %></h4>
  
  <%= render :partial => "shared/error_messages", :locals => { :errors => @contact.errors } %>

  <% if @contact.avatar? %>
    <div class="image-container">
      <%= image_tag @contact.avatar_url %>
    </div>
  <% end %>

  <div class="form-field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="form-field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  
  <div class="form-field">
    <%= f.label :designation %>
    <%= f.text_field :designation %>
  </div>

  <div class="form-field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="form-field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>

  <%= f.submit %>
<% end %>