<%= render :partial => 'data_files/absolute_path' %>

<%= form_for @data_file, :html => { :class => 'user-form' } do |f| %>
  
  <%= f.hidden_field :parent_id %>

  <h4 id="form-title"><%= form_title %></h4>

  <%= render :partial => "shared/error_messages", :locals => { :errors => @data_file.errors } %>

  <div class="form-field">
    <%= f.label :item_id %>
    <%= f.text_field :item_id, :id => 'item-select', 'data-text' => @data_file.item.try(:name), 'data-id' => @data_file.item_id, 'data-ajax-url' => "/items/autocomplete", 'data-multiple' => false, :placeholder => 'Select Item', 'data-initvalue' => { text: @data_file.item.try(:name), id: @data_file.item.try(:id) }.to_json  %>

  </div>

  <div class="form-field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= render :partial => 'data_files/access_fields', :locals => { :f => f } %>

  <div class="form-field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="form-field">
    <%= f.label :sharable %>
    <%= f.check_box :sharable %>
  </div>
  
  <div class="form-field">
    <%= f.label :data_file, "Document" %>
    <%= f.file_field :data_file %>
  </div>

  <%= f.submit %>
<% end %>