<!-- 
<script>
  $(document).ready(function(){
    $('.tag-link').click(function(){
      $('#tag-popup').show();
    });
   
   });
</script>
<%=render 'tag_form.html.erb' %>
<%= form_for @document, :html => { :class => 'user-form',:multipart=>true } do |f| %>
  
  
  <h4 id="form-title"><%= form_title %></h4>

  <%= render :partial => "shared/error_messages", :locals => { :errors => @document.errors } %>

  <div class="form-field">
    <span class="mandetory">*</span>Document Title
    <%= f.text_field :document_title ,:required => "required" %>
  </div>

  <div class="form-field">
    <span class="mandetory">*</span>Add Level
    <%= f.select :level, Level.all.pluck(:level_name),{:prompt => "Select level"},:class => 'retailer_select',:required => "required" %>
  </div>

  <div class="form-field">
    <span class="mandetory">*</span>Add Tag<span class="tag-link">create tag</span>
    <%= f.select :tag, Tag.all.pluck(:tag_name),{:prompt => "Select tag"},:class => 'retailer_select',:required => "required",:multiple => true %>
  </div>

  <div class="form-field">
    <span class="mandetory">*</span>Upload Document
    <%= f.file_field :file,:required => "required" %>
  </div>


  <%= f.submit :value => "Upload Document"%>
<% end %> -->