<% if can? :manage, Document %>
 <%= link_to "New Document", new_document_path, :id => 'new-button' %>
<%end%> 
<%if request.params.include? 'param' %>
 <%= link_to "Clear", documents_path ,:class => 'show-all-doc'%>
<%end%>
<div>
  <%=form_tag Document.new ,:method => 'get' do |f| %>  
  <div id="user-search-div" class="form-field">
     <div class="user-search-field">
        <%=select_tag 'type',options_for_select(["By Tag Name","By Title Name","By Uploaded Date"], params[:type]),:multiple => false,:style => "position:absolute;margin-left:-15%;width:13%;font-size:73%;",:id => "type"%>


       <%= text_field_tag :param, params[:param], :id => "retailer-search",:required => "required",:placeholder => "Enter parameter here" %>
    </div>
   <div>
       <%= button_tag(type: 'submit',value: 'search',:class=>"hide-button") do %>
         <i ><%= image_tag 'search.png' ,:class => "button_with_image_save"%></i> 
       <% end %>
   </div>
   <div class="error" id="message"></div>
         
  </div>
  <%end%>
</div>
<table class="ui table">
  <thead>
    <tr>
      <th>Document Title</th>
      <th>Uploaded By</th>
      <th>Uploaded Date</th>
      <th>Tag Name</th>
      <th>File Name</th>
      <th>Download</th>
      
       
    
    </tr>
  </thead>
  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td>
          <%=document.document_title%>
        </td>
        <td>
          <%=get_uploaded_by(document.repository).email%>
		</td>
		<td>
		  <%=document.uploaded_date%>
		</td>
		<td>
		  <%=get_tag(document.id)%>
		</td>

    <td style="width:15%">
       <%=document.document_name%>
    </td>
		<td>
		  <%=link_to 'Download','/uploads/repository/'+document.id.to_s+'/'+document.document_name.to_s%>	
		</td>

	  </tr>
	<%end%>	
  <div class="response-pagination clearfix">
  <%if @documents.length > 1%>
      <%=will_paginate @documents%>
  <%end%>
</div>