<div id="nav-col-submenu"></div>

</div>


<div id="content-wrapper">
  <%= render :partial => "shared/error_messages", :locals => { :errors => @vendor.errors } %>

  <div class="row">
    <div class="col-lg-12">
    <div class="main-box clearfix">
    <div class="clearfix">
      <div class="user_page">
      <h2>Add Vendor</h2>
      
        <%= form_for @vendor do |f| %>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-3">Vendor Name</label>
                <div class="col-md-9">
                <%= f.text_field :vendor_name,:required => "required",class: "form-control",placeholder: "vendor_name" %>
                  
                </div>
              </div>
            </div>
             <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-3">Vendor Email</label>
                <div class="col-md-9">
                <%= f.text_field :email,:required => "required",class: "form-control",placeholder: "region"  %>
                  
                </div>
              </div>
            </div>
          </div>
          

          <div class="row">
            <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-3">Region</label>
                <div class="col-md-9">
                <%= f.text_field :region,:required => "required",class: "form-control",placeholder: "vendor_name" %>
                  
                </div>
              </div>
            </div>
             <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-3">State</label>
                <div class="col-md-9">
                <%= f.text_field :state,:required => "required",class: "form-control",placeholder: "region"  %>
                  
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-3">Contact Person</label>
                <div class="col-md-9">
                <%= f.text_field :contact_person,:required => "required",class: "form-control",placeholder: "vendor_name" %>
                  
                </div>
              </div>
            </div>
             <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-3">Status</label>
                <div class="col-md-9">
                <%= f.select :status, RETAILER_STATUS,{:prompt => "Select Vendor status"},:class => 'retailer_select',:required => "required" %>
                  
                </div>
              </div>
            </div>
          </div>
          

          
            <div class="col-md-12">
               <%= f.submit "Submit",:class => "btn btn-success rrm_frm_btn" %>
              
            </div>
          </div>
        <% end %>
      

        </div>
      </div>
      </div>
    </div>
  </div>

</div>
      
