<section class="comments_sectn">
<div class="row">	
	<div class="col-lg-12">
	<div class="main-box clearfix">
	<div class="clearfix">
		<div class="common_page gsb_page">
		<h2>Comments/Remarks</h2>
		<div class="comments_blk">
			<div class="comments">
				<strong>Remarks by requester- </strong><%=@request.remarks%>
			</div>
			<div class="comments">
				<strong>CMO Comment- </strong><%=@request.comment_by_cmo%>
			</div>
			<div class="comments">
				<strong>RRM/HO Comment</strong> - <%=@request.comment_by_approver%>
			</div>
			<div class="comments_img_blk clck_map">
				<ul class="list-inline list-unstyled">
					<% @request.images.first(3).each do |image| %>
  							<li><%= image_tag image.image_url %>
  								<% if image.lat? && image.long? %>
  						
									<%= link_to "Click to open Maps", "http://maps.google.com/maps?q=#{[image.lat, image.long].join(',')}", :target => "_blank" %>
					<% end %>	
  							</li>

						<% end %>
					
				</ul>
			</div>
		</div>
			</div>
		</div>
		</div>
	</div>
</div>
</section>