
<section class="comments_sectn">
	<div class="row">	
		<div class="col-lg-12">
			<div class="main-box clearfix">
				<div class="clearfix">
					<div class="common_page gsb_page">
						<h2>GSB Audit</h2>
						<div class="comments_blk">
							<div class="row">
								<div class="col-md-5">
									GSB Type Installed
								</div>
								<div class="col-md-4">
									<div class="blue">
										<%= @request.gsb_type_installed %>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-5">
									GSB cleanliness
								</div>
								<div class="col-md-4">
									<div class="blue">
										<%= @request.gsb_cleanliness %>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-5">
									Installation quality
								</div>
								<div class="col-md-4">
									<div class="blue">
										<%= @request.installation_quality %>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-5">
									GSB Lights working
								</div>
								<div class="col-md-4">
									<div class="blue">
										<%=@request.is_gsb_light_woring%>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-5">
									GSB Light throw is good
								</div>
								<div class="col-md-4">
									<div class="blue">
										<%=@request.is_gsb_light_woring%>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-5">
									GSB Quality
								</div>
								<div class="col-md-4">
									<div class="blue">
										<%=@request.gsb_structured_damage  %>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-5">
									GSB Location
								</div>
								<div class="col-md-4">
									<div class="blue">
										<%=@request.gsb_other_problem%>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-5">
									Retailer Feedback
								</div>
								<div class="col-md-4">
									<div class="blue">
										<%=@request.gsb_retailer_feedback%>
									</div>
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>	
