<div class="approv_cont clearfix">
     
  <div class="appr_info">
    <div>Remarks</div>
    <div><%= @request.remarks %></div>
  </div>

  <div class="appr_retail">
    <div></div>
    <div></div>
  </div>

  <div class="appr_desc">
    <div></div>
    <div></div>
  </div>

</div>

<div class="image-wrapr">
  <% @request.images.each do |image| %>
  <div>
    <div class="image_wrap_img">
      <%= link_to image.image_url, :class => "img_link" do %>
        <%= image_tag image.image_url %>
      <% end %>
    </div>

    <div class="image_wrap_add"><%= image.address %></div>

    <% if image.lat? && image.long? %>
      <%= link_to "Click to open Maps", "http://maps.google.com/maps?q=#{[image.lat, image.long].join(',')}", :target => "_blank", :class => "image_wrap_link" %>
    <% end %>
    </div>
  <% end %>
</div>
