<div class="approv_cont clearfix">
  <div class="appr_info">
    <div>RSP Present in Shop?</div>
    <div><%= @request.is_rsp %></div>
  </div>

  <div class="appr_retail">
    <% unless @request.is_rsp? %>
      <div>Reason</div>
      <div><%= @request.rsp_not_present_reason %></div>
    <% end %>
  </div>

  <div class="appr_desc">
    <div></div>
    <div></div>
  </div>
</div>

<div class="approv_cont clearfix">
     
  <div class="appr_info">
    <div>CMO Name</div>
    <div><%= @request.cmo.try(:display_name) %></div>
  </div>

  <div class="appr_retail">
    <div>Retailer Code</div>
    <div><%= @request.retailer_code %></div>
  </div>

  <div class="appr_desc">
    <div>Rsp Name</div>
    <div><%= @request.rsp_name %></div>
  </div>

</div>

<div class="approv_cont clearfix">
     
  <div class="appr_info">
    <div>RSP Mobile Number</div>
    <div><%= @request.rsp_mobile_number %></div>
  </div>

  <div class="appr_retail">
    <div>RSP sales tag app user ID</div>
    <div><%= @request.rsp_app_user_id %></div>
  </div>

  <div class="appr_desc">
    <div></div>
    <div></div>
  </div>

</div>