
<section class="comments_sectn">
	<div class="row">	
		<div class="col-lg-12">
			<div class="main-box clearfix">
				<div class="clearfix">
					<div class="common_page gsb_page">
						<h2>Rsp Audit</h2>
						<div class="comments_blk">
							<div class="row">
								<div class="col-md-5">
									RSP Assigned in store
								</div>
								<div class="col-md-4">
									<div class="blue">
										<%= @request.rsp_assigned_in_store %>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-5">
									RSP Present in store
								</div>
								<div class="col-md-4">
									<div class="blue">
										<%= @request.rsp_present_in_shop %>
									</div>
								</div>
							</div>


							<div class="row">
								<div class="col-md-5">
									RSP in Gionee T-shirt
								</div>
								<div class="col-md-4">
									<div class="blue">
										<%= @request.rsp_in_gionee_tshirt %>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-5">
									RSP well groomed
								</div>
								<div class="col-md-4">
									<div class="blue">
										<%= @request.rsp_well_groomed %>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-5">
									RSP selling skills and knowledge level
								</div>
								<div class="col-md-4">
									<div class="blue">
										<%= @request.rsp_selling_skills %>
									</div>
								</div>
							</div>

							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>	
