

<div id="nav-col-submenu"></div>
</div>
<div id="content-wrapper">
<div class="row">
<div class="col-lg-12">
<div class="main-box-body clearfix">
<ul class="list-inline list-unstyled list-5" id="myTabradio">
	    <li>
	        <a href="?type=All">
	            <div class="radio_blk">
	                <label for="aa1">
	                    <input type="radio" value="all" />
	                    <span class="cmmn_cls">All</span>
	                </label>
	           </div>
	        </a>
	    </li>
	    <li>
	        <a href="?type=0">
	             <div class="radio_blk">
	                <label>
	                    <input type="radio" value="approved" />
	                    <span class="cmmn_cls">GSB</span>
	                </label>
	           	</div>
	        </a>
	    </li>
	    <li>
	        <a href="?type=1">
	            <div class="radio_blk">
	                <label>
	                    <input type="radio" value="declined"/>
	                    <span class="cmmn_cls">SIS</span>
	                </label>
	            </div>
	        </a>
	    </li>
	    <li>
	        <a href="?type=2">
	            <div  class="radio_blk">
	                <label>
	                    <input type="radio" value="pending"/>
	                    <span class="cmmn_cls">In Shop</span>
	                </label>
	            </div>
	        </a>
	    </li>
	    <li>
	        <a href="?type=3">
	            <div class="radio_blk">
	                <label>
	                    <input type="radio" />
	                    <span class="cmmn_cls">Maintenance</span>
	                </label>
	            </div>
	        </a>
	    </li>
	     
	</ul>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<%= form_for @vendor_request, :html => { :class => 'vendor-request-form' } do |f| %>
<div class="main-box clearfix">
<div class="clearfix">
	<div class="common_page gsb1">
		<div class="hdr">
	   		<div class="row">

				<div class="col-md-3">
					
					<%= f.select :vendor_id, Vendorlist.display_names,{ :prompt => "Select Vendor" },:class => 'form-control custm_select',:id => "vendor-request-select",:required => "required" %>
					
				</div>
				<div class="col-md-4">
	               
	              
	            </div>
	            <div class="col-md-5">
	            	<%= check_box_tag 'All', '[cmo,approver]',checked = false,:id => "selectAll",:style => "margin-left:1%"%>
	            </div>
				 
			</div>	
			 
	</div>



<div id='content' class="tab-content">
	<%@requests.each do |request|%>
		<div class="tab-pane active" id="all">
			<div class="row bdr_bttm">
				<div class="col-md-2">
					<center><div class="gsb1_img_blk">
						<%=request.id%>
					</div></center>
				</div>
				<div class="col-md-2">
					<center><div class="gsb1_img_blk">
						<%=request.request_type%>
					</div></center>
				</div>
				<div class="col-md-2">
					<center><div class="gsb1_img_blk">
						<%=request.retailer_code%>
					</div></center>
				</div>
				<div class="col-md-2">
					<center><div class="gsb1_img_blk">
						<%=Retailer.retailer_data(request.retailer_code,'state')%>
					</div></center>
				</div>
				<div class="col-md-2">
					<center><div class="gsb1_img_blk">
						<%=Retailer.retailer_data(request.retailer_code,'city')%>
					</div></center>
				</div>
				<div class="col-md-2">
					<center>
						<div class="gsb1_img_blk">
							<%=check_box_tag request.id,request.id,checked = false,:style => "margin-left:1%",:id => "vendor-request"%>
						</div>
					</center>
				</div>
			</div>			
		</div>

	<%end%>
 
</div>
	<%=f.hidden_field :request_id, :value => "",:id => "request_id"%>
   <%=f.hidden_field :vendor_response, :value => "Waiting"%> 
   <%=f.hidden_field :vendor_response_date, :value => ""%>
   <%=f.hidden_field :assigned_date, :value => Time.now%>
   <%=f.hidden_field :status, :value => "Waiting"%>
   <%= f.submit :value => "Assign Request" %>
 
							
		<div class="response-pagination clearfix">
		       <%=will_paginate @requests%>
		</div>
								
</div>
</div>
</div>
<%end%>
</div>
</div>
<script type="text/javascript">
  $('#vendor').attr("class",'active')
 
      $('#selectAll').click(function() {
       var value = []
      if(this.checked == true){
         $(':checkbox').each(function(i){
          value[i] = $(this).val();
              
         });
      value = value.splice(1,value.length);
      $('#request_id').val(value);
      } 
   if (this.checked) {
       
       $(':checkbox').each(function() {
           this.checked = true;                        
       });
   } else {
      $(':checkbox').each(function() {
           this.checked = false; 
           $('#request_id').val('');                      
       });
   } 
});
   $(':checkbox').click(function() {
    if(this.checked == true){
      var value = $('#request_id').val().split(',');
      if($.inArray(this.value, value) == -1 && this.value != '[cmo,approver]'){
        value.push(this.value);
        $('#request_id').val(value);
      }
       console.log($('#request_id').val().split(','));
    }
    else{
      var value = $('#request_id').val().split(',');
      if($.inArray(this.value, value) > -1){
        value.splice(value.indexOf(this.value),1);
      }
     $('#request_id').val(value);
      console.log(value);
    }
      if($.inArray("", value) > -1){
        value = value.splice(1,value.length);
         $('#request_id').val(value); 
      } 
   });
	
  
</script>
