// <script>
//   $(document).ready(function(){
//     $('#selectAll').click(function() {
//        var value = []
//       if(this.checked == true){
//          $(':checkbox').each(function(i){
//           value[i] = $(this).val();
              
//             });
//       value = value.splice(1,value.length);
//       $('#request_id').val(value);
//       } 
//    if (this.checked) {
       
//        $(':checkbox').each(function() {
//            this.checked = true;                        
//        });
//    } else {
//       $(':checkbox').each(function() {
//            this.checked = false; 
//            $('#request_id').val('');                      
//        });
//    } 
// });
//    $(':checkbox').click(function() {
//     if(this.checked == true){
//       var value = $('#request_id').val().split(',');
//       if($.inArray(this.value, value) == -1 && this.value != '[cmo,approver]'){
//         value.push(this.value);
//         $('#request_id').val(value);
//       }
//        console.log($('#request_id').val().split(','));
//     }
//     else{
//       var value = $('#request_id').val().split(',');
//       if($.inArray(this.value, value) > -1){
//         value.splice(value.indexOf(this.value),1);
//       }
//      $('#request_id').val(value);
//       console.log(value);
//     }
//       if($.inArray("", value) > -1){
//         value = value.splice(1,value.length);
//          $('#request_id').val(value); 
//       } 
//    });
//   });
// </script>



<a href="/vendor_requests/"><%= image_tag 'back.png',:title => "Back",:class => "vendor_back_button" %></a>
<%if request.params.include? 'param' %>
 <%= link_to "Clear", new_vendor_request_path ,:class => 'show-all-request'%>
<%end%>
<div style="margin-top:5%;">
  <%=form_tag new_vendor_request_path,:method => 'get'  do |f| %>  
  <div id="user-search-div" class="form-field">
     <div class="user-search-field">
      <%=select_tag 'request_type',options_for_select([ "All Requests", "GSB","SIS","In Shop","Maintenance","Audit"], params[:request_type]),:multiple => false,:style => "position:absolute;margin-left:-30%;width:15%"%>
       <%=select_tag 'filter_type',options_for_select([ "All","Retailer Code","Request Id", "State","City"], params[:filter_type]),:multiple => false,:style => "position:absolute;margin-left:-14%;width:12%"%>
       <%= text_field_tag :param, params[:search], :id => "retailer-search",:placeholder => "Enter keyword to search",:value => params[:param] %>
    </div>
   <div>
       <%= button_tag(name: "commit",value: "filter",type: 'submit',:class=>"hide-button") do %>
         <i ><%= image_tag 'search.png' ,:class => "button_with_image_save"%></i> 
       <% end %>
   </div>
   <div class="error" id="message"></div>
         
  </div>
  <%end%>
</div>
<%= form_for @vendor_request, :html => { :class => 'vendor-request-form' } do |f| %>
  
  <h4 id="form-title">New Assignment</h4>


  <%= render :partial => "shared/error_messages", :locals => { :errors => @vendor_request.errors } %>
  
    
    <label style="float:left">Choose Vendor</label>
    <%=f.select :vendor_id,  Vendorlist.display_names , { :prompt => "Select Vendor" },:id => "vendor-request-select",:required => "required" %>
  
  <table style="margin-top:50px;width:100%"><tr><th>Request Id</th><th>Request Type</th><th>Retailer Code</th><th>State


  </th><th>City</th><th>Creation Date</th><th><%= check_box_tag 'All', '[cmo,approver]',checked = false,:id => "selectAll",:style => "margin-left:1%"%></th></tr>
    <tr><td colspan="7"><hr  style="color:red"/></td></tr>

    <%i=1%>
  <%@request.each do |request|%>

 
   <%@state = Retailer.where(:retailer_code => request.retailer_code).pluck(:state)
   @city = Retailer.where(:retailer_code => request.retailer_code).pluck(:city)
    puts "retailer_code #{@state}"
     %>
   <tr><td align="center"><%=request.id%></td><td align="center"><%=request.request_type%></td><td align="center"><%=request.retailer_code%></td><td align="center">
    <%=@state[0]%></td><td align="center"><%=@city[0]%></td><td align="center"><%=request.created_at.strftime("%b %d, %Y")%></td><td align="center">

    <%=check_box_tag request.id,request.id,checked = false,:style => "margin-left:1%",:id => "vendor-request"%>
   </td></tr>
   <tr><td colspan="7"><hr  style="color:red"/></td></tr>
    
  
  <%i=i+1%>
  <%end%>
  <tr><td colspan="3">
  <div class="response-pagination clearfix">
    <%if @request.length >1%>
      <%= will_paginate @request %>
    <%end%>
 </div>
</td></tr>
</table>
   <% time = Time.new %>
   <%=f.hidden_field :request_id, :value => "",:id => "request_id"%>
   <%=f.hidden_field :vendor_response, :value => "Waiting"%> 
   <%=f.hidden_field :vendor_response_date, :value => ""%>
   <%=f.hidden_field :assigned_date, :value => "#{time.year}-#{time.month}-#{time.day}"%>
   <%=f.hidden_field :status, :value => "Waiting"%>
   <%= f.submit :value => "Assign Request" %>
<% end %>