<%= form_for @role, :html => { :class => 'user-form' } do |f| %>

  <h4 id="form-title"><%= form_title %></h4>

  <%= render :partial => "shared/error_messages", :locals => { :errors => @role.errors } %>

  <div class="form-field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= f.submit %>
<% end %>