<%= form_for @item, :html => { :class => 'user-form' } do |f| %>

  <h4 id="form-title"><%= form_title %></h4>

  <%= render :partial => "shared/error_messages", :locals => { :errors => @item.errors } %>

  <div class="form-field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-field">
    <%= f.label :city %>
    <%= f.select :city_id, City.pluck(:name, :id), :include_blank => true %>
    <%= link_to "Add City", new_city_path, :remote => true %>
  </div>

  <div class="form-field">
    <%= f.label :item_region, "Region" %>
    <%= f.select :item_region_id, ItemRegion.pluck(:name, :id), :include_blank => true %>
    <%= link_to "Add Region", new_item_region_path, :remote => true %>
  </div>

  <div class="form-field">
    <%= f.label :category %>
    <%= f.select :category_id, Category.pluck(:name, :id), :include_blank => true %>
    <%= link_to "Add Category", new_category_path(:insert_option_at => '#item_category_id'), :remote => true %>
  </div>

  <div class="form-field">
    <%= f.label :subcategory %>
    <%= f.select :subcategory_id, Category.pluck(:name, :id), :include_blank => true %>
    <%= link_to "Add Subcategory", new_category_path(:insert_option_at => '#item_subcategory_id'), :remote => true %>
  </div>

  <div class="form-field">
    <%= f.label :short_description %>
    <%= f.text_field :short_description %>
  </div>

  <div class="form-field">
    <%= f.label :collection %>
    <%= f.select :collection_id, Collection.pluck(:name, :id), :include_blank => true %>
    <%= link_to "Add Collection", new_collection_path, :remote => true %>
  </div>

  <div class="form-field">
    <%= f.label :size %>
    <%= f.select :size_id, Size.pluck(:name, :id), :include_blank => true %>
    <%= link_to "Add Size", new_size_path, :remote => true %>
  </div>

  <div class="form-field">
    <%= f.label :alcohol_percent %>
    <%= f.select :alcohol_percent_id, AlcoholPercent.pluck(:value, :id), :include_blank => true %>
    <%= link_to "Add Alcohol percent", new_alcohol_percent_path, :remote => true %>
  </div>

  <%= field_set_tag "Unit Of Measurement" do %>
    <div class="form-field">
      <%= f.label :unit_of_measurement %>
      <%= f.text_field :unit_of_measurement %>
    </div>

    <div class="form-field">
      <%= f.label :quantity %>
      <%= f.text_field :quantity %>
    </div>
  <% end %>
  
  <%= field_set_tag "Details" do %>
    <div class="details-container dynamic-fields-container">

      <%= link_to "Add Details", "javascript:void(0);", :class => "add-field" %>

      <% @item.details.each do |detail| %>
        <%= render :partial => 'shared/dynamic_field', :locals => { :fields => { "item[details][][name]" => detail["name"], "item[details][][value]" => detail["value"] }, :container_class => "" } %>
      <% end %>

      <%= render :partial => 'shared/dynamic_field', :locals => { :fields => { "item[details][][name]" => nil, "item[details][][value]" => nil }, :container_class => "hidden" } %>
    </div>
  <% end %>

  <%= field_set_tag "Prices" do %>
    <div class="details-container dynamic-fields-container">

      <%= link_to "Add Prices", "javascript:void(0);", :class => "add-field" %>

      <% @item.prices.each do |price| %>
        <%= render :partial => 'shared/dynamic_field', :locals => { :fields => { "item[prices][][name]" => price["name"], "item[prices][][value]" => price["value"] }, :container_class => "" } %>
      <% end %>

      <%= render :partial => 'shared/dynamic_field', :locals => { :fields => { "item[prices][][name]" => nil, "item[prices][][value]" => nil }, :container_class => "hidden" } %>
    </div>
  <% end %>

  <%= field_set_tag "Images" do %>
    <%= link_to "Add Image", new_image_path, :remote => true %>
    <%= hidden_field_tag "item[image_ids][]", nil %>
    <div class="images">
      <% @item.images.each do |image| %>
        <%= render :partial => 'images/image', :locals => { :image => image } %>
      <% end %>
    </div>
  <% end %>

  <%= f.submit %>

<% end %>