<div id="nav-col-submenu"></div>
</div>
<div id="content-wrapper">

<div id ="date_field">
<label><b>From</b></label> 
<%= date_field_tag("date_from", "") %>
<label><b>To</b></label>
<%= date_field_tag("date_to", "") %>
<%= button_tag class: 'dateSearch' do %>
<i class="fa fa-search search-icon"></i>
<% end %>
</div>
 <%= render 'shared/notice_messages'%>
<div class="row">
<div class="col-lg-12">
<div class="main-box clearfix">
<div class="clearfix">
	<div class="common_page gsb1">
		<div class="hdr">
	   		<div class="row">
	    		<div class="col-md-2">
					<div class="txt">Assignments
					</div>
				</div>
				<div class="col-md-4">
					 
					
				</div>
        <div class="col-md-3">
           <%= select_tag :request_type, options_for_select(['All']+VENDOR_REQUEST_TYPE),:class => 'form-control custm_select',:required => "required",:onchange => "requestType()",:prompt => "---------Request Type--------" %>
          
        </div>
        <%if params[:type] != 'closed'%>
           <div class="col-md-3">
             <%= select_tag :status, options_for_select(['All']+[['Pending','pending']]+VENDOR_STAGES.map{|stage| [stage.camelize,stage]}),:class => 'form-control custm_select',:required => "required",:onchange => "status()",:prompt => "---------Select Status--------" %>
            
          </div>
        <%else%> 
        <div class="col-md-1">

        </div>
          <div class="col-md-2">
             <%= link_to image_tag('export.png', :style => "width:75%;height:35px"),vendor_assignments_path(format: "xls", type: params["type"])%>
          </div>
				<%end%>
			</div>	
			 
	</div>

<%=render partial: "request_documents/document"%>

<div id='content' class="tab-content">
	<div class="row">
<div class="col-lg-12">
<div class="main-box no-header clearfix">
  <div class="main-box-body clearfix">
    <div class="table-responsive">
      <table class="table user-list table-hover">
        <thead>
          <tr>
            <th><span>Request Id</span></th>
            <th><span>Request Type</span></th>
            <th><span>Priority</span></th>
             <th class="text-center"><span>RT Code</span></th>
            <th><span>Shop Name</span></th>
            <th><span>State</span></th>
            <th><span>RRM<span></th>
            <th><span>Status</span></th>
            <th><span>Assigned On</span></th>
            <th><span></span></th>       
          </tr>
        </thead>
        
         
      
        
    <%@assignments.each do |assignment|%>
         <tbody>
                  
          <tr>
            <td>              
              <%=assignment.request_id%> 

            </td>
            <td>
              <%=assignment.request.request_type.upcase if assignment.request.request_type != nil%>  
            </td>
            <td><%=assignment.priority%></td>
            <td>
              <%=assignment.request.retailer_code.upcase%>  
            </td>
            <td>
              <%=Retailer.retailer_data(assignment.request.retailer_code,"name")%>  
            </td>
            
            <td>
               <%=Retailer.retailer_data(assignment.request.retailer_code,"state")%> 
            </td>
            <td>
             <%req = assignment.request.request_activities.find_by(request_id: assignment.request_id,request_status: 'approved',user_type: ['RRM','HO']);

             %>
             <%=req.user.name if req != nil%>
            </td>
             
            <td>
              <%=assignment.current_stage.upcase if assignment.current_stage != nil%>
            </td>
             <td class="text-center">
              <span class="label label-default"><%=assignment.assign_date.strftime("%d %b,%Y") if assignment.assign_date != nil%></span>
            </td>
            <td>
							<a href="/vendor_assignments/<%=assignment.id%>" class="table-link" title="view details">
								<span class="fa-stack">
									<i class="fa fa-square fa-stack-2x site-color"></i>
									<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						 
							 
						 
            <%if assignment.status == PENDING && assignment.current_stage == PENDING%>
            
              <a href="/vendor_assignments/<%=assignment.id%>/status?status=accepted" class="table-link" title="accept">
                <span class="fa-stack">
                  <i class="fa fa-square fa-stack-2x site-color"></i>
                  <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                </span>
              </a>
          
               
             
              <a href="/vendor_assignments/<%=assignment.id%>/status?status=declined" class="table-link" title="reject">
                <span class="fa-stack">
                  <i class="fa fa-square fa-stack-2x site-color"></i>
                  <i class="fa fa-times fa-stack-1x fa-inverse"></i>
                </span>
              </a>               
             
            <%end%> 
            <%if assignment.status == ACCEPTED && assignment.current_stage == ACCEPTED%>
              
              

               <%end%> 
              <%if RequestAssignment.canClose?(assignment.id)%>  
                <a class="table-link stop cursor" onclick="stopRequest(<%=assignment.id%>)" title="terminate">                
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x site-color"></i>
                    <i class="fa fa fa-stop fa-stack-1x fa-inverse"></i>
                  </span>
                </a> 
              <%end%>        
            </td>
          
          </tr>
         
           </tbody>
                  <%end%>  
           
      </table>
    </div>
  </div>
</div>
</div>
</div>    	

</div>
							
<div class="response-pagination clearfix">
      <%= will_paginate @assignments %>
</div>
								
</div>
</div>
</div>
</div>
</div>
<div class="img_open">
        <div class="img_blk">
          
          <img class="add-img"/>
        </div>
</div>
<%=render :partial => 'terminate'%>
<script>
    $('.img').click(function(){
       $('.img_open').css("display","block");
       imgSrc = $(this).attr('src');
       $('.add-img').attr("src",imgSrc);
       $('.img_open').click(function(){
        $('.img_open').hide();
       });

    });


<%if params[:type] == nil%> 
$('#dashboard').attr("class",'active')
<%elsif params[:type] == 'current'%>
$('#vendorPending').attr("class",'active')
<%else%>
$('#vendorClosed').attr("class",'active')
<%end%>
$('#request_type').val(getUrlVars()["q[request_type]"]);
$('#status').val(getUrlVars()["q[status]"]);     
function requestType(){
 var type = $('#request_type option:selected').val();
  var url = location.href
  var isRequestType = getUrlVars()["q[request_type]"]; 
  if(isRequestType != null && isRequestType.length != 0){
    url1 = url.split("q[request_type]")[0]
    url2 = url.split("request_type")[1].split("&")
    var isFrom = getUrlVars()["from"];
    if(isFrom != null && isFrom.length != 0){
      url2 = url2[1]+"&"+url2[2]+"&"+url2[3]
    }else{
      url2 = url2[1]
    }
    if(url2 == '' || url2 == undefined || url2 == null){
      location.href=url1+"q[request_type]="+type
    }else{
       location.href=url1+"q[request_type]="+type+"&"+url2 
    }
    
  }else{
    location.href=url+'&q[request_type]='+type
  }
}   

function status(){
  var type = $('#status option:selected').val();
  var url = location.href
  var isRequestType = getUrlVars()["q[status]"]; 
  if(isRequestType != null && isRequestType.length != 0){
    url1 = url.split("q[status]")[0]
    url2 = url.split("status")[1].split("&")
    var isFrom = getUrlVars()["from"];
    if(isFrom != null && isFrom.length != 0){
      url2 = url2[1]+"&"+url2[2]+"&"+url2[3]
    }else{
      url2 = url2[1]
    }
    if(url2 == '' || url2 == undefined || url2 == null){
      location.href=url1+"q[status]="+type
    }else{
       location.href=url1+"q[status]="+type+"&"+url2 
    }
    
  }else{
    location.href=url+'&q[status]='+type
  }
}   

$(".dateSearch").click(function(){
        if(location.href.indexOf('?') === -1){
            location.href = location.href+"?from="+$("#date_from").val()+"&to="+$("#date_to").val(); 
        }else{
            var from = $("#date_from").val();
            var to = $("#date_to").val()
            var url = location.href
            var isFrom = getUrlVars()["from"];
            var isTo = getUrlVars()["to"]; 

              if(isFrom != null && isFrom.length != 0 && isTo != null && isTo.length != 0){
                url1 = url.split("&from")[0]
                location.href = url1+'&from='+from+"&to="+to
                
              }else{
                location.href=url+'&from='+from+"&to="+to
              
              }
      }  
    });
</script>

