<section id="col-left" class="col-left-nano">
					<div id="col-left-inner" class="col-left-nano-content">
						<div id="user-left-box" class="clearfix hidden-sm hidden-xs dropdown profile2-dropdown">
							
							<div class="user-box">
								<span class="name">
									<span class="dropdown-toggle" data-toggle="dropdown">
										<%=current_user.name.upcase%>											
									</span>
										
								</span>
								
							</div>
						</div>
	<div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">	
		<ul class="nav nav-pills nav-stacked">
			
			<li id="dashboard">
				<a href="">
					<i class="fa fa-dashboard"></i>
					<span>Dashboard</span>
					
				</a>
			</li>

			<% if can?(:cmo, Request) || can?(:rrm,Request) || can?(:manage, Request) || can?(:approve, Request)%>
			<li id="request">
				<a class="dropdown-toggle">
					<i class="fa fa-table"></i>
					<span>Requests</span>
					<i class="fa fa-angle-right drop-icon"></i>
				</a>
				<ul class="submenu">
					<li id="all-request">
						<a href="">
							All
						</a>
					</li>
					<li id="gsb">
						<a href="">
							GSB
						</a>
					</li>
					<li id="sis">
						<a href="">
							SIS
						</a>
					</li>
					<li id="inshop">
						<a href="">
							In Shop
						</a>
					</li>
					<li id="maintenance">
						<a href="">
							Maintenance
						</a>
					</li>
				</ul>
			</li>
			<%end%>

			<% if can? :manage, Map %>
			<li id="maps">
				<a href="" class="dropdown-toggle" >
					<i class="fa fa-globe" aria-hidden="true"></i>
					<span>Map</span>
				</a>
			</li>
			<%end%>

			<% if can?(:cmo, Request) || can?(:rrm,Request) || can?(:manage, Request) || can?(:approve, Request)%>
			<li id="audit">
				<a href="" class="dropdown-toggle" >

					<i class="fa fa-bar-chart-o"></i>
					<span>Audit</span>
				</a>
			</li>
			<%end%>
			<% if can? :manage, Download %>
			<li id="reports">
				<a href="" class="dropdown-toggle">
					<i class="fa fa-copy"></i>
					<span>Reports</span>
					<i class="fa fa-angle-right drop-icon"></i>
				</a>
				<ul class="submenu">
					<li id="downloads">
						<a href="" >
							Downloads
						</a>
					</li>
				
				</ul>
			</li>
			<%end%>

			<% if can? :manage, User %>
			<li id="retailer">
				<a href="" >
					<i class="fa fa-th-large"></i>
					<span>Retailer</span>
				</a>
			</li>
			<% end %>
			<% if can? :manage, Notification %>
			<li id="notification">
				<a href="" class="dropdown-toggle" >
					<i class="fa fa-bell" aria-hidden="true"></i>
					<span>Notification</span>
				</a>
			</li>
			<% end %>
			<li class="nav-header hidden-sm hidden-xs"></li>
				
			<% if can? :manage, User %>
			<li id="user">
				<a href=""  >
					<i class="fa fa-edit"></i>
					
					<span>User</span>
				</a>
			</li>
			<% end %>
			<% if can? :manage, VendorRequest %>
			<li id="vendor">
				<a  class="dropdown-toggle" >
					<i class="fa fa-male" aria-hidden="true"></i>
					<span>Vendor</span>
					<i class="fa fa-angle-right drop-icon"></i>
				</a>
				<ul class="submenu">
					<li id="v_requests">
						<a href="">
							Requests
						</a>
					</li>
				</ul>
			</li>

			<% end %>
			<% if can? :manage, Beatroute %>
			<li id="beatroute">
				<a href="" class="dropdown-toggle" >
					<i class="fa fa-file-text-o"></i>
					<span>Beatroute</span>
				</a>
			</li>
			<% end %>
			<% if can? :manage, Document %>
			<li id="repository">
				<a href="" class="dropdown-toggle" >
					<i class="fa fa-database" aria-hidden="true"></i>
					<span>Repository</span>
				</a>
			</li>
			<%end%>

			<% if can? :manage, Permission %>
			<li id="permission">
				<a href="" class="dropdown-toggle" >
					<i class="fa fa-lock" aria-hidden="true"></i>

					<span>Permission</span>
				</a>
			</li>
			<%end%>

			<% if can? :manage, Role %>
			<li id="role">
				<a href="" class="dropdown-toggle" >
					<i class="fa fa-lock" aria-hidden="true"></i>

					<span>Role</span>
				</a>
			</li>
			<%end%>
			<% if can? :manage, ShopAssignment %>
			<li id="assignments">
				<a href="" class="dropdown-toggle" >
					<i class="fa fa-file-text-o" aria-hidden="true"></i>


					<span>Assignments</span>
				</a>
			</li>
			<%end%>
			<%if current_user.roles.pluck(:name).include?('vendor allocator')%>
				<li id="vendorAssignments">
					<a href="" class="dropdown-toggle" >
						<i class="fa fa-pause" aria-hidden="true"></i>


						<span>Vendor Assignments</span>
					</a>
				</li>
				
			<%end%>
			<% if can? :manage, RequestAssignment %>
			<li id="vendorAllocationStatus">
				<a href="" class="dropdown-toggle" >
					<i class="fa fa-file-text-o" aria-hidden="true"></i>


					<span>Vendor Allocation Status</span>
				</a>
			</li>
			<%end%>
			<%if ['approver','rrm'].include?(User.user_role(current_user.id).name) %>  
				<li id="vmqa">
					<a href="" class="dropdown-toggle" >
						<i class="fa fa-camera-retro" aria-hidden="true"></i>


						<span>VMQA</span>
					</a>
				</li>
			<%end%>
			<%if current_user.roles.pluck(:name).include?('vendor')%>
				<li id="vendorPending">
					<a href="" class="dropdown-toggle" >
						<i class="fa fa-pause" aria-hidden="true"></i>


						<span>My Current Requests</span>
					</a>
				</li>
				<li id="vendorClosed">
					<a href="" class="dropdown-toggle" >
						<i class="fa fa-check" aria-hidden="true"></i>


						<span>My Closed Requests</span>
					</a>
				</li>
			<%end%>
			<% if can? :manage, TatGroup %>
			<li id="tat">
				<a href="" class="dropdown-toggle" >
					<i class="fa fa-file-text-o" aria-hidden="true"></i>


					<span>TAT</span>
				</a>
			</li>
			<%end%>
		</ul>
	</div>
</div>
</section>
<script>

$('#dashboard').click(function(){
	location.href = '/dashboard'
});
$('#maps').click(function(){
	location.href = '/maps'
});
$('#all-request').click(function(){
	location.href = "/requests?q[request_type]=[0,1,2,3]&q[status]=cmo_pending,approved,declined,cmo_declined,pending&from=<%=params[:from]%>&to=<%=params[:to]%>&state=All"
});
$('#gsb').click(function(){
	location.href = "/requests?q[request_type]=0&q[status]=cmo_pending,approved,declined,cmo_declined,pending&from=<%=params[:from]%>&to=<%=params[:to]%>&state=All"
});
$('#sis').click(function(){
	location.href = "/requests?q[request_type]=1&q[status]=cmo_pending,approved,declined,cmo_declined,pending&from=<%=params[:from]%>&to=<%=params[:to]%>&state=All"
});
$('#inshop').click(function(){
	location.href = "/requests?q[request_type]=2&q[status]=cmo_pending,approved,declined,cmo_declined,pending&from=<%=params[:from]%>&to=<%=params[:to]%>&state=All"
});
$('#maintenance').click(function(){
	location.href = "/requests?q[request_type]=3&q[status]=cmo_pending,approved,declined,cmo_declined,pending&from=<%=params[:from]%>&to=<%=params[:to]%>&state=All"
});
$('#audit').click(function(){
	location.href = "/requests?q[request_type]=4&q[status]=approved&from=<%=params[:from]%>&to=<%=params[:to]%>&state=All"
});
$('#downloads').click(function(){
	location.href = '/downloads'
});
$('#retailer').click(function(){
	location.href = "/retailers"
});
$('#notification').click(function(){
	location.href = '/notifications'
});

$('#user').click(function(){
		location.href = '/users'
});

$('#assignment').click(function(){
		location.href = '/request_assignments'
});

$('#beatroute').click(function(){
		location.href = '/beatroutes'
});
$('#repository').click(function(){
		location.href = '/documents'
});
$('#permission').click(function(){
		location.href = '/permissions'
});
$('#role').click(function(){
		location.href = '/roles'
});
$('#assignments').click(function(){
		location.href = '/shop_assignments'
});
$('#vmqa').click(function(){
		location.href = '/user_audits'
});
$('#v_requests').click(function(){
		location.href = '/vendor_requests'
});
$('#request_assignments').click(function(){
		location.href = '/request_assignments'
});
$('#vendorPending').click(function(){
		location.href = '/vendor_assignments?type=current&q[request_type]=All&q[status]=All'
});
$('#vendorClosed').click(function(){
		location.href = '/vendor_assignments?type=closed&q[request_type]=All'
});
$('#vendorAssignments').click(function(){
		location.href = '/request_assignments/new?states=0&request_type=0,1,2,3&is_rrm=true'
});
$('#vendorAllocationStatus').click(function(){
		location.href = '/request_assignments?states=0&request_type=0,1,2,3'
});
$('#tat').click(function(){
		location.href = '/tat_groups'
});

</script>
