<!DOCTYPE html>
<html>
<head>
  <title>FOSEM</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- <div id="page-container"> -->
    <%#= render 'shared/organization_nav' %>
    
    <%#= render :partial => "shared/flash_messages" %>

    <%#= yield %>
    
  <!-- </div> -->
  <div id="wrapper">
    <%= render :partial => 'shared/nav_bar' %>

    <div style="height:70px;"></div>

    <div class="main_container">
      <div class="center_wrapper">
        <%= yield %>
      </div>
    </div>

    <div id="popup" class="hidden"></div>

    <div class="footer">
      &copy; Copyright 2015, Feet on street all right reserved.
    </div>
</div>
</body>
</html>
