<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Gionee</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <!-- <div id="page-container"> -->
    <%#= render 'shared/organization_nav' %>
    
    <%#= render :partial => "shared/flash_messages" %>

    <%#= yield %>
    
  <!-- </div> -->
  <div id="wrapper">
    <%= render :partial => 'shared/nav_bar' %>

    <% if notice %>
      <div id="notice"><%= notice %></div>
    <% end %>
    
    <% if alert %>
      <div id="alert"><%= alert %></div>
    <% end %>

    <div class="main_container clearfix">
      <%= yield %>
    </div>
  
    <div id="popup" class="hidden"></div>
    <!-- <div class="img_mask" id="img_mask"></div> -->
    <!-- <div id="img_popup" class="img_pop"></div> -->


    <div class="footer">
      &copy; Copyright 2015, Feet on street all right reserved.
    </div>
    
  </div>
</body>
</html>
