<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
  <link data-turbolinks-track="true" href="/assets/main.css?body=1" media="all" rel="stylesheet" />
 <title>Gionee</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <link data-turbolinks-track="true" href="/assets/new_design/compiled/wizard.css?body=1" media="all" rel="stylesheet" />
 
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'fevicon.jpg' %>
</head>
<body>
  <%= yield %>
</body>
</html>
